---
---

<html lang="en">

<head>
    <title>News Robbert&amp;Frank Frank&amp;Robbert</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/agenda.build.css">
    <script src="/assets/js/luxon.min.js"></script>
    <script src="/assets/js/agenda.build.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            window.agenda = new Agenda('calendar', 'AIzaSyDhZjZN3GhbD78qtBS7DLgYec3MrmDaM3k', 'ksmd8rgprjo9s0188v6f9o28n8@group.calendar.google.com');
            window.agenda.setup();
        });
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-38188228-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

    {% include header.html %}

    <main>
        <div class="pagetitle"><h1>NEWS</h1></div>
        <div class="agenda">
            <div id="calendar"></div>
        </div>
    </main>

   {% include footer.html %}

</body>

</html>