<footer>

    <div class='mailto'>
        <p><a href="mailto:info@robbertenfrank.com">info@robbertenfrank.com</a></p>
        
        <p>Follow R&amp;F F&amp;R on <a href="https://www.instagram.com/r_en_f/" target="_blank">Instagram</a> &amp; <a href="https://www.facebook.com/frankenrobbertrobbertenfrank" target="_blank">Facebook</a> to stay up to date.</p>
        
        <div class='social-footer'>
        
        <a href="mailto:info@robbertenfrank.com" class="social-icon email" target="_blank">{% include icons/logoemail.html %}</a>
        <a href="https://www.instagram.com/r_en_f/" class="social-icon instagram" target="_blank">{% include icons/logoinstagram.html %}</a>
        <a href="https://www.facebook.com/frankenrobbertrobbertenfrank" class="social-icon facebook" target="_blank">{% include icons/logofacebook.html %}</a>
        
        </div>
        
    </div>
    

</footer>