<header>
    
    <nav class='hoek'>
                <a href="../theater/" class="theater"><strong>theater</strong></a>
                <a href="../visual-arts/" class="visualarts"><strong>visual<br>arts</strong></a>
    </nav>
    
    <div class='midden'>
        
        Robbert&amp;Frank
        
        <a href="../about/" class='logo'>
            {% include icons/logokoffertje.html %}
        </a> 
        
        Frank&amp;Robbert
        
    </div>
    
    <div class='midden'>
        
        <div class='menu-items'>
            <a href="../artworks/">Artworks</a>
        </div>
        
          <div class='menu-items'>
            <a href="../cv/">CV</a>
        </div>
        
        <div class='menu-items'>
            <a href="../news/">News</a>
        </div>
        
        
    </div>
         
</header>