<div class="share-buttons">

    <!-- Email -->
    <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert%3A%20{{ title }}%0ACheck%20out%3A%20{{ share_url }}" target="_blank" title="Send email">
    <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />
    </a>
    
    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
    <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Pinterest -->
    <a href="http://pinterest.com/pin/create/link/?url={{ share_url }}" target="_blank">
    <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
    </a>
    
    <!-- Tumblr-->
    <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ share_url }}&title={{ title }}&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, visual art, art" target="_blank">
    <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
    </a>
    
    <!-- Twitter -->
    <a href="https://twitter.com/intent/tweet?source={{ share_url }}&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert%3A%20{{ share_url }}&via=R_en_F" target="_blank" title="Tweet">
    <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
    </a>
    
    <!-- LinkedIn-->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ title }}&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
    <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
    </a>
             
                    </div>