<main>

    <p><strong><a href="../about/">Robbert&amp;Frank Frank&amp;Robbert</a> grew up together</strong>
        <span class='logo'>
                {% include icons/emoji_man_dancing_f.html %}
                {% include icons/emoji_man_dancing_r.html %}
        </span>.
    They developed a strong sense for the symbolic and political power of images. </p>

    <p><strong>Seeking the poetical
        <span class='logo'>
                {% include icons/emoji_seedling.html %}
        </span>
    rather than the provocative
        <span class='logo'>
                {% include icons/emoji_collision.html %}
        </span>
    </strong> they create personal works that invite the viewer to take a closer look
        <span class='logo'>
                {% include icons/emoji_magnifying_glass.html %}
        </span>
    .</p>

    <p><strong>Questioning the status of the artist</strong>, they continuously develop new methodologies for creating and showing their art. Trial and error
        <span class='logo'>
                {% include icons/emoji_cross.html %}
        </span>
    , persistence
        <span class='logo'>
                {% include icons/emoji_fire.html %}
        </span>
     and humor
        <span class='logo'>
                {% include icons/emoji_smiling_face.html %}
        </span>
    are key ingredients in their practice.</p>

    <div class="center">

        <div class="container-380px-midden">
            <div class="resp-container-1-1">

                <iframe class="resp-iframe" src="https://player.vimeo.com/video/792972188?h=d72f451a3f" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="textbox">

                <small>

                    <em>Ceramic Tools</em><br/>Artwork of the month video (58 sec)

                    <br>

                    <a href="{{site.url}}/portfolio/ceramic-tools">More info</a>

                </small>

                <br>

            </div>

        </div>

    </div>


</main>
