<div class="overview-artworks">
    <div class="link-textcolor">

    <ul> 
        
    <li>
        <a href="{{site.url}}/portfolio/sorrow-brick"><strong>Brick - Go Away Sorrow Of The World</strong> <span class='logo'>
                {% include icons/emoji_brick.html %}
        </span> <small>Sculpture (2021)</small></a>
    </li>
    <li>
        <a href="{{site.url}}/portfolio/mayan-hieroglyphs"><strong>Mayan Hieroglyphics</strong> <span class='logo'>
                {% include icons/emoji_printer.html %}
        </span> <small>unique photoprint (2015)</small></a>
    </li>
     <li>
        <a href="{{site.url}}/portfolio/claytablet-lunch"><strong>Clay Tablet - Lunch</strong> <span class='logo'>
                {% include icons/emoji_hamburger.html %}
        </span> <small>sculpture (2020)</small></a>
    </li>   
    <li>
        <a href="{{site.url}}/portfolio/breadcrumbs"><strong>Breadcrumbs - Solo expo (The Movie)</strong> <span class='logo'>
                {% include icons/emoji_camera.html %}
        </span> <small>exhibition (2020)</small></a>
    </li> 
    <li>
        <a href="{{site.url}}/portfolio/sorrow-large"><strong>GO AWAY SORROW OF THE WORLD - large</strong> <span class='logo'>
                {% include icons/emoji_flag.html %}
        </span> <small>sculpture (2020)</small></a>
    </li> 
    <li>
        <a href="{{site.url}}/portfolio/christmas-gift"><strong>Christmas gift 2020</strong> <span class='logo'>
                {% include icons/emoji_christmas_tree.html %}
        </span> <small>limited edition gift (2020)</small></a>
    </li> 
    <li>
        <a href="{{site.url}}/portfolio/alterego-suitcase-potoi"><strong>Alter-Ego Suitcase - Po Toi - Hong Kong</strong> <span class='logo'>
                {% include icons/emoji_rainbow.html %}
        </span> <small>silkscreen edition (2018)</small></a>
    </li> 
    <li>
        <a href="{{site.url}}/portfolio/alterego-suitcase"><strong>Alter-Ego Suitcase: Reindeer &amp; Bull</strong> <span class='logo'>
                {% include icons/emoji_suitcase.html %}
        </span> <small>sculpture / performance (2015)</small></a>
    </li>  
    <li>
        <a href="{{site.url}}/portfolio/blueprint-religion"><strong>Blueprints - Religion</strong> <span class='logo'>
                {% include icons/emoji_blue_square.html %}
        </span> <small>silkscreen edition (2018)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/wall-drawing-covid"><strong>R&amp;F F&amp;R Covid 1.0</strong> <span class='logo'>
                {% include icons/pencil.html %}
        </span> <small>wall drawing (2020)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/claytablet-tobreak"><strong>Clay Tablet - To Break</strong> <span class='logo'>
                {% include icons/emoji_ladder.html %}
        </span> <small>clay tablet edition (2020)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/claytablet-gemini-ritual"><strong>Clay Tablet - Gemini Ritual</strong> <span class='logo'>
                {% include icons/emoji_dizzy.html %}
        </span> <small>clay tablet edition (2019)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/neon-gemini"><strong>Neon Gemini</strong> <span class='logo'>
                {% include icons/emoji_gemini.html %}
        </span> <small>sculpture (2020)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/grand-human-projects"><strong>Don't we deserve grand human projects that give us meaning?</strong> <span class='logo'>
                {% include icons/emoji_pill.html %}
        </span> <small>theater (2017 - ongoing)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/wall-drawing-cosmology"><strong>R&amp;F F&amp;R Cosmolgy 1.0</strong> <span class='logo'>
                {% include icons/pencil.html %}
        </span> <small>wall drawing (2020)</small></a>
      </li>
        
      <li>
        <a href="{{site.url}}/portfolio/totempole-suitcase"><strong>Mask Totem Pole Suitcase</strong> <span class='logo'>
                {% include icons/emoji_suitcase.html %}
        </span> <small>sculpture / performance (2020)</small></a>
      </li>

      <li>
        <a href="{{site.url}}/portfolio/claytablet-totem"><strong>Clay Tablet - Self-portrait with Mask Totem Pole</strong> <span class='logo'>
                {% include icons/emoji_mask.html %}
        </span> <small>clay tablet edition (2019)</small></a>
      </li>
      <li>
        <a href="{{site.url}}/portfolio/sorrow-venice"><strong>Go Away Sorrow Of The World - Venice</strong> <span class='logo'>
                {% include icons/emoji_rainbow.html %}
        </span> <small>silkscreen edition (2017)</small></a>
      </li>
      <li>
          <a href="{{site.url}}/portfolio/screwdriver"><strong>F&amp;R Screwdriver</strong> <span class='logo'>
              {% include icons/emoji_screwdriver.html %}
          </span> <small>sculpture (2018)</small></a>
      </li>
      <li>
          <a href="{{site.url}}/portfolio/r&f-screws"><strong>R&amp;F Screws</strong> <span class='logo'>
              {% include icons/emoji_screw.html %}
          </span> <small>sculpture (2018)</small></a>
      </li>
      <li>
            <a href="{{site.url}}/portfolio/claytablet-fire"><strong>Clay Tablet - Self-portrait with Ritual Fire</strong> <span class='logo'>
                {% include icons/emoji_fire.html %}
            </span> <small>clay tablet edition (2019)</small></a>
        </li>
        <li>
            <a href="{{site.url}}/portfolio/sorrow-hongkong"><strong>Go Away Sorrow Of The World - Hong Kong</strong> <span class='logo'>
                {% include icons/emoji_rainbow.html %}
            </span> <small>silkscreen edition (2018)</small></a>
        </li>
        <li>
            <a href="{{site.url}}/portfolio/dice-sorrow"><strong>Dice - 遠離浮世悲哀</strong> <span class='logo'>
                {% include icons/emoji_dice.html %}
            </span> <small>sculpture (2015)</small></a>
        </li>
        <li>
            <a href="{{site.url}}/portfolio/dog-demon-suitcase-hongkong"><strong>Dog Demon Suitcase - Hong Kong - Lan Kwai Fong</strong> <span class='logo'>
                {% include icons/emoji_rainbow.html %}
            </span> <small>silkscreen edition (2018)</small></a>
        </li>
        <li>
            <a href="{{site.url}}/portfolio/dog-demon-suitcase"><strong>Dog Demon Suitcase</strong> <span class='logo'>
                {% include icons/emoji_suitcase.html %}
            </span> <small>sculpture / performance (2015)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/blueprint-boardgame"><strong>Blueprints - Boardgame</strong> <span class='logo'>
                {% include icons/emoji_blue_square.html %}
            </span> <small>silkscreen edition (2018)</small></a>
        </li>

         <li>
            <a href="{{site.url}}/portfolio/sorrow-suitcase-performance"><strong>Go Away Sorrow Of The World</strong> <span class='logo'>
                {% include icons/emoji_suitcase.html %}
            </span> <small>sculpture / performance (ongoing)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/guns"><strong>Guns</strong> <span class='logo'>
                {% include icons/emoji_pistol.html %}
            </span> <small>installation (2014) / artist publication (2015)</small></a>

        </li>

        <li>
            <a href="{{site.url}}/portfolio/chocolate-guns"><strong>Chocolate Guns</strong> <span class='logo'>
                {% include icons/emoji_chocolate.html %}
            </span> <small>sculpture edition (2015)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/to-break"><strong>To Break - The window of opportunity</strong> <span class='logo'>
                {% include icons/emoji_cactus.html %}
            </span> <small>theater (2014-2015)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/pong"><strong>PONG</strong> <span class='logo'>
                {% include icons/emoji_pingpong.html %}
            </span> <small>video-installation (2014)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/bloodstains"><strong>Bloodstains</strong> <span class='logo'>
                {% include icons/emoji_blood.html %}
            </span> <small>sculpture edition (2014)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/gilded-child"><strong>The Gilded Child</strong> <span class='logo'>
                {% include icons/emoji_sun.html %}
            </span> <small>video (2013)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/v-signs"><strong>V-Signs</strong> <span class='logo'>
                {% include icons/emoji_victory.html %}
            </span> <small>installation (2013)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/pigeons"><strong>Pigeon Price Winners</strong> <span class='logo'>
                {% include icons/emoji_dove.html %}
            </span> <small>sculptures (2014)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/trophies"><strong>Trophies</strong> <span class='logo'>
                {% include icons/emoji_trophy.html %}
            </span> <small>sculptures (2014)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/google-search"><strong>Google Search Cabin</strong> <span class='logo'>
                {% include icons/emoji_magnifying_glass.html %}
            </span> <small>installation (2012)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/a-documentary"><strong>A Documentary</strong> <span class='logo'>
                {% include icons/emoji_clown.html %}
            </span> <small>video (2010)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/faces"><strong>Faces</strong> <span class='logo'>
                {% include icons/emoji_astonished_face.html %}
            </span> <small>video-installation prints (2014 - 2018)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/vending-machine"><strong>R&amp;F F&amp;R Vending Machine</strong> <span class='logo'>
                {% include icons/emoji_slot_machine.html %}
            </span> <small>sculpture editions (2014)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/american-history"><strong>What about american history</strong> <span class='logo'>
                {% include icons/emoji_flag_america.html %}
            </span> <small>video (2012)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/whey"><strong>F&amp;R R&amp;F Whey</strong> <span class='logo'>
                {% include icons/emoji_flexed_biceps.html %}
            </span> <small>sculptures (2014)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/dr-valcke"><strong>Dr. Valcke</strong> <span class='logo'>
                {% include icons/emoji_fountain.html %}
            </span> <small>collaboration project (2015)</small></a>
        </li>

        <li>
            <a href="{{site.url}}/portfolio/alter-ego-surgery"><strong>Alter Ego Surgery</strong> <span class='logo'>
                {% include icons/emoji_syringe.html %}
            </span> <small>installation / performance (2009)</small></a>
        </li>

    </ul>
    </div>
</div>
