<main>
    
    <div class="pagetitle">
        
        <h1>ARTWORKS</h1>
    
    </div>
    
    {% include pages/projects/blueprint.html %}
    
    {% include pages/projects/portfolio-sorrow.html %}<br>
    
    {% include pages/projects/portfolio-grand-human-projects.html %}<br>
    
    {% include pages/projects/portfolio-ack-ack.html %}<br>
    
    {% include pages/projects/portfolio-guns.html %}<br>
    
    {% include pages/projects/portfolio-chocolate-guns.html %}<br>
    
    {% include pages/projects/portfolio-to-break.html %}<br>
    
    {% include pages/projects/portfolio-pong.html %}<br>
    
    {% include pages/projects/portfolio-bloodstains.html %}<br>
    
    {% include pages/projects/portfolio-the-gilded-child.html %}<br>
    
    {% include pages/projects/portfolio-vsigns.html %}<br>
    
    {% include pages/projects/portfolio-suitcase-variations.html %}<br>
    
    {% include pages/projects/portfolio-pigeon-pricewinners.html %}<br>
    
    {% include pages/projects/portfolio-trophies.html %}<br>
    
    {% include pages/projects/portfolio-sampler-songs.html %}<br>

    {% include pages/projects/portfolio-google-search.html %}<br>
    
    {% include pages/projects/portfolio-a-documentary.html %}<br>
    
    {% include pages/projects/portfolio-a-journey-into-space.html %}<br>
    
    {% include pages/projects/portfolio-faces.html %}<br>
    
    {% include pages/projects/portfolio-crowds.html %}<br>
    
    {% include pages/projects/portfolio-vending-machine.html %}<br>
    
    {% include pages/projects/portfolio-what-about-american-history.html %}<br>
    
    {% include pages/projects/portfolio-whey.html %}<br>
    
    {% include pages/projects/portfolio-gg2.html %}<br>
    
    {% include pages/projects/portfolio-mayan-hieroglyfe.html %}<br>
    
    {% include pages/projects/portfolio-dr-valcke.html %}<br>
    
    {% include pages/projects/portfolio-alter-ego.html %}<br>
    
    {% include pages/projects/portfolio-reindeer-oxhead.html %}<br>
    
</main>