<main>
    <div class="blog">
    
    <div class="pagetitle">
        <h1>BLOG</h1>
        </div>
    
    <strong>In this photo blog you can follow <a href="../about/">Robbert&amp;Frank Frank&amp;Robbert</a> as they travel around the globe 🌍 to spread their message 'GO AWAY SORROW OF THE WORLD'.</strong><br/><br/> 
        
    With a little wooden suitcase 💼 as their only weapon they try to make the world a better place. Each time they present their suitcase the message is translated in the local language. Whenever they unfold their suitcase and someone (or something) reads the message, or even thinks the message, a vibration 💫 is send into the universe. <br><br>
    
    Just like monks that repetitively chant the same phrases over and over again, R&amp;F F&amp;R are repeating ⏳ the action of unfolding and presenting the message in different places and contexts. They plan to do this for as long as possible (maybe a lifetime...)<br><br>
    
    On every spot F&amp;R R&amp;F print a postcard ✉️ of the action (with a little portable printer) and sent it from the location to their atelier address in Ghent. 📮 The marked and stamped postcards are the certificate and proof of the action. Scroll down to see all the postcards.<br><br>
        
    
    <div class="video-container"><iframe src="https://player.vimeo.com/video/271499503?color=ffffff&portrait=0" width="750" height="396" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
        
    <div class="text-video">
        Latest montage of actions in Hong Kong, Guangzhou (China), Skaland (Norway), Keulen (Germany), Belfast (UK), Rotterdam (Netherlands), Brussels (Belgium), London (UK) and more ...
    </div>
        <br>
    
    This project is supported by: <a href="http://www.campo.nu" target="_blank">Campo Arts Center</a>, <a href="https://stad.gent/kunst-op-straat/nieuws-evenementen/go-away-sorrow-world" target="_blank">City of Ghent</a>. Special thanks to: <a href="http://www.wingplatform.org" target="_blank">WING</a> Hong Kong, <a href="http://www.mtm-gifts.com/nl/" target="_blank">MTM Gifts</a> Hong Kong / Belgium, <a href="http://www.krakeslott.no/" target="_blank">Krakeslott</a> Norway.<br><br>
    
  {% for myimage in site.static_files %}
        {% if myimage.path contains 'img/postcards' %}
        <div class="postcard">  
            <img src="../{{myimage.path}}" alt="GO AWAY SORROW OF THE WORLD" />
        </div>
    {% endif %}
    {% endfor %}
    </div>
</main>