<main>
    <div class="blog">
    
    <div class="pagetitle">
        <h1>Sorrow Blog</h1>
        </div>
           
        <div class="full-width-image">
                <img src="../assets/img/portfolio/Sorrow-Bern_2.jpg" alt="Gang wäg, Chummer vo dr Wäut" />
        </div>
        <br><br>
     
    <a href="../sorrow-blog">*English version*</a><br>
        
    <strong>In diesem Blog können sie <a href="../about/">Robbert&amp;Frank Frank&amp;Robbert</a> folgen, wie sie um die Welt 🌍 reisen, um ihre Botschaft ‘VERSCHWINDET, SORGEN DER WELT’ / 'GO AWAY SORROW OF THE WORLD' zu verbreiten.</strong><br/><br/> 
    
    Im Dezember 2020 ❄️🎄🎁 fährt die Botschaft auf einer Werbefläche an einem Tram durch Bern (CH). <a href="https://auawirleben.ch/de" target="_blank">Das Theaterfestival auawirleben</a> hat die bildenden Künstler eingeladen, das Projekt anzupassen und diese kommerzielle Fläche mit Kunst zu besetzen.<br><br>
    
    Genauso wie Mönche dieselbe Phrase wieder und wieder singen, wiederholen ⏳ R&amp;F F&amp;R den Akt, die exakt selbe Friedensbotschaft an verschiedenen Orten, in verschiedenen Sprachen und Kontexten zu präsentieren. Jedes Mal, wenn jemand die Botschaft liest, oder auch nur denkt, wird eine Vibration 💫 ins Universum geschickt.<br><br>
        
    Mit diesem ebenso absurden wie ernsthaften Versuch, mittels Kunst eine Veränderung hervorzurufen, setzen F&amp;R R&amp;F unterschiedliche Strategien ein, um die Botschaft im öffentlichen Raum zu präsentieren. ⛳<br><br>
    
    Das eigentliche Ziel ist dabei, dass all diese kleinen Vibrationen anfangen zu resonieren und zu einer kraftvollen Handlungsaufforderung werden 📢. Die positive Aufforderung, etwas zu verändern, auf die noch so kleinste Art und Weise. Am Ende des Tages ist es nicht so wichtig, <strong>was</strong> man tut, sondern <strong>wie</strong> man es tut 🦄.<br><br>
    
    <strong>Teile diese Botschaft, trage sie mit dir und mache sie zu deiner Eigenen!</strong><br><br>

    PS: Unten findest du ein paar Inspirationen, wie du die Botschaft teilen oder sie zu deiner Eigenen machen kannst. 👇<br><br><br>
        

    <div class="full-width-image">
        <img src="../assets/img/portfolio/sorrow-folding-page.png" alt="Sorrow Folding Page" />
    </div>
        
        <strong>📄 Go Away Sorrow Of The World – Folding Page.</strong> With this paper template you can make your own mini message at home or at the office.<br>
        
        <ol>
            <li>⬇️ Download the template here: <a href="https://adobe.ly/3fwKlV7" target="_blank">https://adobe.ly/3fwKlV7</a></li>
            <li>🖨️ Print on A4 or A3 paper, use the heaviest paper you have</li>
            <li>✂️ Cut and tape according to instructions</li>
            <li>👀 Put on display</li>
            <li>🌱 Share with friends, family and strangers<br>
                --> use the hashtag <a href="https://www.instagram.com/explore/tags/goawaysorrowoftheworld/" target="_blank">#goawaysorrowoftheworld</a></li>
        </ol><br>
        
        PS: Check out the hashtag #goawaysorrowoftheworld on <a href="https://www.instagram.com/explore/tags/goawaysorrowoftheworld/" target="_blank">Instagram</a> &amp; <a href="https://www.facebook.com/hashtag/goawaysorrowoftheworld" target="_blank">Facebook</a> to see what other people have been doing with the message!<br><br><br><br>
        
      
        
        <div class="full-width-image">
             <img src="../assets/img/portfolio/Sorrow-blueprint-to-suitcase.png" alt="Sorrow Blueprint to Suitcase" />
        </div>
        
        <strong>🔹 Go Away Sorrow Of The World – Blueprint.</strong>
        
        With this detailed blueprint you can construct the very same wooden suitcase that Frank&amp;Robbert Robbert&amp;Frank have used to spread the message. Granted, you will need some woodworking skills, but it is possible. #DIY #woodworking
        
        <ol>
            <li>⬇️ Download the blueprint here: <a href="https://adobe.ly/3pTQJLb" target="_blank">https://adobe.ly/3pTQJLb</a>
            </li>
            <li>👌 If you plan on making it, please do share it with us! </li>
        </ol>  <br><br><br>
        
        
        <div class="resp-container-16-9">

                <iframe class="resp-iframe" src="https://player.vimeo.com/video/483500045" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        
        <div class="text-video">
            <strong>Go Away Sorrow Of The World – The Movie 🎥 </strong>

        With a little wooden suitcase as their only weapon Frank&amp;Robbert Robbert&amp;Frank try to make the world a better place. Each time they present their suitcase the message is translated in the local language.<br><br> 

        On every spot F&amp;R R&amp;F film the installation / inauguration of the suitcase and print a postcard of the action (with a little portable printer). The marked and stamped postcards are the certificate and proof of the action. Scroll down this page to see the postcard collection.<br><br>

        Latest montage of actions in Hong Kong, Guangzhou (China), Skaland (Norway), Keulen (Germany), Belfast (UK), Bern (CH), Brussels (Belgium), London (UK) and many more...<br><br>

        This project is supported by: <a href="http://www.campo.nu" target="_blank">Campo Arts Center</a>. Special thanks to: <a href="https://auawirleben.ch/de" target="_blank">Auawirleben</a> Bern, <a href="http://www.wingplatform.org" target="_blank">WING</a> Hong Kong, <a href="http://www.mtm-gifts.com/nl/" target="_blank">MTM Gifts</a> Hong Kong / Belgium, <a href="http://www.krakeslott.no/" target="_blank">Krakeslott</a> Norway.
        </div><br><br><br>
  
  {% for myimage in site.static_files %}
        {% if myimage.path contains 'img/postcards' %}
        <div class="postcard">  
            <img src="../{{myimage.path}}" alt="GO AWAY SORROW OF THE WORLD" />
        </div>
    {% endif %}
    {% endfor %}
    </div>
</main>