<main>
    <div class="cv">
       
    <div class="pagetitle">
        
    <h1>CV</h1>
        </div>
        
        <p><strong>2010 - 2012</strong></p>
        <p><em>Master of Fine Arts</em>, Royal Academy of Fine Arts, Gent (BE)</p>
        
        
        <p><strong>2012</strong></p>
        <p><em>Startpoint Prize</em>, Nominee, Prague (CZ) <br/>
        <em>M. Horlait Dapsens</em>, Laureate, Brussels (BE)</p>
                
        
        <p><strong>2016</strong></p>		
        <p><em>Celeste Prize</em>, Nominee, London (UK) </p>
        
        <p><strong>2019</strong></p>
        <em>COCA Prize</em>, Nominee, COCA Centre of Contemporary Artists (IT)<br/>
        
        
        <br /> --- <br/>
        
        <h4>2021</h4>
        <ul>
            <li><em>Magic Mirrors</em>, solo expo @ Fred&amp;Ferry Gallery, Antwerp (BE)</li>
            <li><em>Tarot editions</em>, group expo @ 019, Ghent (BE)</li>
            <li><em>Time &amp; Tide</em>, group expo @ Ter Posterie, Roeselare (BE)</li>
            <li><em>Overlap</em>, group expo @ GUM, Ghent (BE)</li>
            <li><em>Table dialogues</em>, performance @ international figuren.theater.festival, Erlangen (DE)</li>
            <li><em>Breadcrumbs Interactive Livestream</em>, digital performance @ Beyond the Blackbox festival, De Brakke Grond, Amsterdam (NL)</li>
        </ul>
        
        <h4>2020</h4>
        <ul>
            <li><em>Narratives</em>, solo expo @ lxhxb Gallery, Eindhoven (NL)</li>
            <li><em>Breadcrumbs</em>, solo expo @ Be-Part, Waregem (BE)</li>
            <li><em>Rêverie</em>, group expo @ Villa Les Zéphyr, Middelkerke (BE)</li>
        </ul>
        
        <h4>2019</h4>
        <ul>
            <li><em>Residency</em>, AIR Berlin Alexanderplatz, Berlin (DE)</li>
            <li><em>Minor Destruction of suffering</em>, lecture / performance @ Globe Gallery, Heilstätte Grabowsee (DE)</li>
            <li><em>Bloedtest</em>, group expo @ Dr. Guislain Museum, Ghent (BE)</li>
        </ul>
        
        <h4>2018</h4>
        <ul>
            <li><em>The Secret Life of Materials</em>, group expo @ Pennings Foundation, Eindhoven (NL)</li>
            <li><em>R&amp;F F&amp;R Tools</em>, lecture @ Van Abbemuseum, Eindhoven (NL)</li>
            <li><em>Civil Disobedience</em>, lecture @ Vooruit, Ghent (BE)</li>
            <li><em>About commitment</em>, CreativeMornings, lecture @ Beursschouwburg, Brussels (BE)</li>
        </ul>
        
        <h4>2017</h4>
        <ul>
            <li><em>Dark Matter Games</em>, group expo @ S.A.L.e Docks &amp; Workspace Brussels, Venice (IT)</li>
            <li><em>Homo Ludens</em>, lecture @ Integrated Conference, De Singel, Antwerp (BE)</li>
            <li><em>Don’t we deserve grand human projects?</em>, theater, European tour</li>
        </ul>
           

        <h4>2016</h4>
        <ul>
            <li><em>Unter Waffen</em>, group expo @ Museum Angewandte Kunst, Frankfurt (DE)</li>
            <li><em>Go Away Sorrow Of The World</em>, performance @ Kräkeslottet Art Center, Senja (NO)</li>
            <li><em>Residency</em>, Timelab, fablab for art and innovation, Ghent (BE)</li>
        </ul>
            

        <h4>2015</h4>
        <ul>
            <li><em>GUNS</em>, Artist Publication by R&amp;F F&amp;R, Art Paper Editions, Ghent (BE)</li>
            <li><em>Fire &amp; Forget: on violence</em>, group expo @ KW Institute for Contemporary Art, Berlin (DE)</li>
            <li><em>Akakor</em>, group expo @ Baró Galeria, São Paulo (BR)</li>
            <li><em>The Gilded Child</em>, group expo @ The National Centre for Contemporary Art, Moscow (RU)</li>
            <li><em>Residency</em>, Be Part, institute for contemporary art, Waregem (BE)</li>
            <li><em>Residency</em>, WING - centre for performance, Hong Kong (HK)</li>
        </ul>

        <h4>2014</h4>
        <ul>
            <li><em>TO BREAK - The Window of Opportunity</em>, theater, European tour </li>
            <li><em>The Object as Mediator</em>, performance @ The Mine Gallery, Dubai (UAE)</li>
            <li><em>A Bit Beyond Ping Pong</em>, solo expo @ Netwerk, Center for Contemporary Art, Aalst (BE)</li>
            <li><em>GUNS</em>, solo expo @ BUBOX, Space for Contemporary Art, Kortrijk (BE)</li>
        </ul>
            
        <h4>2013</h4>
        <ul>
            <li><em>Why Are You Here</em>, solo expo @ Lage Egal Gallery, Berlin (DE)</li>
            <li><em>Typisch</em>, solo expo @ SEAS Scharpoord CC, Knokke-Heist (BE)</li>
        </ul>

        <h4>2012</h4>
        <ul>
            <li><em>A Journey into Space</em>, theater, Belgian tour</li>
            <li><em>When We Meet</em>, performance @ ‘Findars’, Kuala Lumpur (MYS)</li>
        </ul>
            <br/><br/>

    </div>
</main>