<main>
       
    <div class="pagetitle">
        
    <h1>TEXTS</h1>
    </div>
       
    <p><strong>Text solo expo Fred&amp;Ferry Gallery 2021</strong><br/>
    Exhibition text by <a href="https://elineverstegen.com" target="_blank">Eline Verstegen</a> on R&amp;F F&amp;R's solo exhibition 'Magic Mirrors' at Fred&amp;Ferry Gallery, Antwerp.<br/>
    <a href="https://drive.google.com/file/d/1STQzUi79SweqnCFrD01wyC_Ogyw0OljZ/view?usp=sharing">PDF - Magic Mirrors R&amp;F F&amp;R (English)</a><br/>
    <a href="https://drive.google.com/file/d/1gSht3UTkKNPhP_HtdIddurVjuT55KwDe/view?usp=sharing">PDF - Magic Mirrors R&amp;F F&amp;R (Dutch)</a><br/><br/></p>
    
    <p><strong>Short Biography</strong><br/>
    1 A4 text on Robbert&amp;Frank Frank&amp;Robbert. A perfect introduction to who they are and what they do.<br/>
    <a href="https://drive.google.com/open?id=1h8b5IhhQYvKbYxvCDjcx9uWqw48CCxg-">PDF - Short biography R&amp;F F&amp;R (English)</a><br/><br/></p>
    
    <p><strong>Text solo expo BE-PART 2020</strong><br/>
    Exhibition text on R&amp;F F&amp;R's solo exhibition 'Breadcrumbs' at Be-Part Waregem. Through theatrical dioramas, photo and video works, sculptures, blueprints, screen prints and clay tablets, the artists tell a story that links their everyday reality to philosophical and societal questions.<br/>
    <a href="https://drive.google.com/open?id=1bxhA2wOu-GxqoS2dP_lFEJ9TS4deM1GO">PDF - Exhibition text Breadcrumbs Be-Part 2020 (Dutch)</a><br/><br/></p>
    
    <p><strong>R&amp;F F&amp;R in HART Magazine 2020</strong><br/>
    Contribution by F&amp;R R&amp;F for the summer release of HART, one of the leading magazines on contemporary art in Belgium. The corona edition nr. 204 features the R&amp;F F&amp;R addition: 'Shredding Sorrows, attending a healing ritual' with a text by Beatrijs Dikker. In this text Beatrijs describes a ritual F&amp;R R&amp;F executed at Heilstätte Grabowsee, a former lung sanatorium and military hospital in the vicinity of Berlin.<br/>
    <a href="https://drive.google.com/file/d/1xNYcWL4qMuMEfbY2Jnrt2_Cx_Ckz-eE9/view?usp=sharing">PDF - HART Magazine - R&amp;F F&amp;R contribution summer 2020 (English)</a><br/>
    <a href="https://hart-magazine.be">Link - HART Magazine Online (Dutch)</a><br/><br/></p>
    
    <p><strong>F&amp;R R&amp;F in FORUM+ Magazine 2019</strong><br/>
    Contribution by F&amp;R R&amp;F for the autumn release of FORUM+, a journal for Research and Arts in Belgium and the Netherlands. Inspired by cave drawings of Lascaux, Egyptian hieroglyphs and proto writing, F&amp;R R&amp;F present new objects in which they convert their own lives and work into simple symbolic line drawings.<br/>
    <a href="https://drive.google.com/open?id=1CEOWkZv33TQmB9khkW2CP-JVYk3Ua1Cp">PDF - FORUM+ Magazine - Precipitate F&amp;F F&amp;R 2019 (Dutch)</a><br/>
    <a href="https://www.forum-online.be/nummers/herfst-2019">Link - FORUM+ Magazine Online (Dutch - English)</a><br/><br/></p>
    
    <p><strong>Interview Flanders DC Magazine 2018</strong><br/>
    Interview by Mies Van Roy in which F&amp;R R&amp;F talk about the practical side of their art practice. How do you work together? How do you deal with social media? How do you earn a living? Plus some beautifull images of their work.<br/>
    <a href="https://drive.google.com/open?id=1yMI3JeoEW-lNtfIIxwXXBHr1PIMR9sJ8">PDF - Interview Flanders DC R&amp;F F&amp;R (Dutch)</a><br/><br/></p>
    
    <p><strong>Interview MACULTURE online Magazine 2017</strong><br/>
    Interview by Wilson Le Personnic in which R&amp;F F&amp;R talk about how they approach a new creation, the parallel between visual arts and theater, the importance of humor and how their latest theatershow <em>'Don't we deserve grand human projects that give is meaning?'</em> fits into all of this.<br/>
    <a href="http://www.maculture.fr/entretiens/robbert-frank/">Link - Interview Maculture R&amp;F F&amp;R (French) </a><br/>
    <a href="https://drive.google.com/open?id=1scgtb32t2Cy93WwVOVc_SdthZnBajZ9J">PDF - Interview Maculture R&amp;F F&amp;R (English translation)</a><br/><br/></p>
    
    <p><strong>Interview Beatrijs Dikker 2016</strong><br/>
    Interview by <a href="http://airberlinalexanderplatz.de/team/beatrijs/">Beatrijs Dikker</a> in which R&amp;F F&amp;R talk about how they deal with political references in their work and what is the dynamic of theoretical vs practical (hands-on) research and their project <em>'GO AWAY SORROW OF THE WORLD'</em>.<br/>
    <a href="https://drive.google.com/open?id=1S7W-ZDnBR3Q0yX8RGKXMu5S2CYWt__RW">PDF - Interview Beatrijs Dikker R&amp;F F&amp;R (English)</a><br/>
    <a href="http://www.frankenrobbert.com/blog/">Link - Photoblog about the GO AWAY SORROW OF THE WORLD project</a><br/><br/></p>
    
    <p><strong>Text Laura Herman GUNS Publication 2015</strong><br/>
    Text by Laura Herman for the F&amp;R R&amp;F book <em>GUNS</em> published by Art Paper Editions in 2015. GUNS is a full colour catalogue which documents the full collection of R&amp;F F&amp;R wooden guns. On top you get texts by Laura Herman en Charlotte Van Buylaere in English, French, Russian, Arabic, Spanish and Chinese <br/>
    <a href="https://drive.google.com/open?id=11k9iVuiiyy434LPKEPpoQnhrtAjTIIR5">PDF - Text Laura Herman - GUNS R&amp;F F&amp;R (English)</a><br/>
    &nbsp;-> Buy your copy of the 'Guns' book <a href="http://shop.riot-ghent.org/robbert-and-frank-frank-and-robbert-%E2%80%93-guns/dp/691" target="_blank">here</a>, <a href="http://www.mottodistribution.com/shop/publishers/art-paper-editions/guns.html" target="_blank">here</a> or <a href="https://www.ideabooks.nl/9789490800369-robbert-frank-frank-robbert-guns" target="_blank">here</a><br/><br/></p>
    
    <p><strong>Text Beatrijs Eemans solo expo 2014</strong><br/>
    Text by Beatrijs Eemans for the F&amp;R R&amp;F solo exhibition <em>'A Bit Beyond Ping Pong'</em> at Netwerk Aalst (Belgium).<br/>
    <a href="https://drive.google.com/open?id=1IxiYOFih0rYW-C-8GUX7StJwKTSJ8TMw">PDF - Text Beatrijs Eemans R&amp;F F&amp;R (English)</a><br/>
    <a href="https://drive.google.com/open?id=1VRsE-ozmvo_yKbqpIYMJTKa5GhkXlQDy">PDF - Text Beatrijs Eemans R&amp;F F&amp;R (French)</a><br/>
    <a href="https://drive.google.com/open?id=1dpD8vcPLXg1neuWucStYk_bIKu6q0G_O">PDF - Text Beatrijs Eemans R&amp;F F&amp;R (Dutch)</a><br/><br/></p>
    
    

</main>