<main>
    <div class="theater">
    
    <h3>Theater</h3>
    
    
    <a href="../about/"><strong>Robbert&Frank Frank&Robbert's</strong></a> most recent theater production <a href="#grand-human-projects">'Don't we deserve grand human projects that give us meaning'</a> premiered the 31th of March at Performatic Festival in Beursschouwburg, Brussels and is now touring the world.
    <br><br>In their third performance, Robbert&Frank Frank&Robbert look for meaning in a world with no Grand Narrative, in their very own way: with references to space travel and science, in a strong visual logic. Check <a href="http://www.campo.nu/nl/production/2903/dont-we-deserve-grand-human-projects-that-give-us-meaning" target="_blank">campo.nu</a> for info and upcoming shows!<br><br>
        
    <span id="grand-human-projects">{% include pages/projects/grand-human-projects.html %}</span><br>

    <a href="#tobreak">'TO BREAK - The window of opportunity'</a> is a visual installation brought to life, with an inevitable ending. This production was selected for Theater Aan Zee in August 2014 and toured  Europe for two years. The piece is still bookable. For more info see below...<br><br>
    
    <span id="tobreak">{% include pages/projects/tobreak.html %}</span><br>

    <a href="http://users.skynet.be/jasperpollet/ajourneyintospace/">
            <img class="sprite" src="../assets/img/sprites/frank.svg" height="48px" width="48px">
        </a>
    
    <a href="#journey">'A Journey Into Space'</a> was the very first feature theater production by R&F F&R. The piece was initiated during their masters course at the Royal Academy for Fine Arts in Ghent and developed further into a professional theater production in collaboration with <a href="http://www.campo.nu/en/artist/721/robbertfrank-frankrobbert" target="_blank">CAMPO</a>.<br><br>
    
    <span id="journey">{% include pages/projects/journey-into-space.html %}</span><br>

    <a href="http://www.campo.nu/en/artist/721/robbertfrank-frankrobbert" target="_blank">CAMPO</a> is the unique, warm and inspiring arts centre that produced all of the above mentioned theater works by R&F F&R.<br><br>
    
    And our good friend and wonderful sounddesigner <a href="http://www.koenraadvds.be" target="_blank">Koenraad Vandersyppe</a> is responsible for the great audio in 'To Break - The window of opportunity' and 'A Journey into Space'. The last theater show 'Don't we deserve grand human projects that give us meaning?' is scored by no one less than <a href="http://boriszeebroek.weebly.com/" target="_blank">Boris Zeebroek</a>!<br><br>
    
    If you like our theater work you will surely want to discover our <a href="../visual-arts/">Visual Arts</a> work.<br><br>
        
    </div>
</main>