<main>
    
<h3>Visual Arts</h3>

<a href="../about/"><strong>Robbert&Frank Frank&Robbert</strong></a> employ ping-pong (besides ‘flim-flam’, whiff-whaff’, and Gossima, the other names the sport went by) as an apt metaphor to convey the way their artistic practice comes into being.<br><br>
    
    <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div href="" class="photo visual-arts1">
                        <div class="photo-overlay">
                                    Sculptures 'Trophies' - 2014
                        </div>
                    </div>
                    <div href="" class="photo visual-arts2">
                        <div class="photo-overlay">
                                    Videostill 'Pong' - 2014
                        </div>
                    </div>
                    <div href="" class="photo visual-arts3">
                        <div class="photo-overlay">
                                    Performance 'GO AWAY SORROW OF THE WORLD' - 2016
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
More light-hearted and gleeful, than the themes explored might suggest, F&R R&F’s <strong>films, performances, installations and objects</strong> burgeon a universe of their own. In this world, shaped by idiosyncratic logics, rules and structures, it might not always be apparent, which is ping, or what is pong, but perhaps ideas, thoughts and concepts become more compelling when they stop making sense, when the thrill of the game wins over the conditions of our present day.<br><br>
    
    <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div href="" class="photo visual-arts4">
                        <div class="photo-overlay">
                                    Videostill 'The Gilded Child' - 2013
                        </div>
                    </div>
                    <div href="" class="photo visual-arts5">
                        <div class="photo-overlay">
                                    Performance 'Dubai' - 2014
                        </div>
                    </div>
                    <div href="" class="photo visual-arts6">
                        <div class="photo-overlay">
                                    Sculpture 'Whey' - 2014
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>

Their young work  has been presented in international institutions such as <a href="http://www.kw-berlin.de/en/institution/" target="_blank">'KW'</a> Berlin, <a href="http://www.dox.cz/en/" target="_blank">'DOX'</a> Prague, <a href="barogaleria.com/" target="_blank">'Baró'</a> Sao Paulo, <a href="http://www.kataraartcenter.com/" target="_blank">'Katara'</a> Doha, <a href="http://ncca.ru/en/index" target="_blank">'NCCA'</a> Moscow, <a href="http://www.wingplatform.org/" target="_blank">'WING'</a> Hong Kong and <a href="http://millenniumfilm.org/" target="_blank">'Millenium Film'</a> New York.<br><br>
    
<div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div href="" class="photo visual-arts7">
                        <div class="photo-overlay">
                                    Edition 'Bloodstain' - 2015
                        </div>
                    </div>
                    <div href="" class="photo visual-arts8">
                        <div class="photo-overlay">
                                    Installation view 'GUNS' - 2015
                        </div>
                    </div>
                    <div href="" class="photo visual-arts9">
                        <div class="photo-overlay">
                                    Performance 'Cowsong' - 2015
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>

    
Take a look at the <a href="../portfolio">portfolio</a> page to see a beautiful overview of their works. Or check the <a href="https://docs.google.com/document/d/1oHKmtMJUkssDM-GpTSkVJ6AeP3elEdVy-TAORh5lJ_w/edit?usp=sharing" target="_blank">cv</a> for a selected overview of what they've been doing. <br><br>

Follow F&R R&F's <a href="https://www.facebook.com/frankenrobbertrobbertenfrank" target="_blank">social media</a> and <a href="../agenda/">agenda</a> to stay up to date with the wide range of projects they are currently developing.<br><br>

And if you like their Visual Arts work, be sure to check out their <a href="../theater/">Theater</a> work as well.<br><br>
    
</main>