<main>

    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-closeddoors.svg %}  </p> 
            
        <h2> DIY SHRINE </h2>
        
    </div> 
                
    <p>Proficiat!</p>
    
    <p>
        Je bent de kersverse eigenaar van een interactief Frank&Robbert Robbert&Frank kunstwerk.* <br /><br />
        <small>*(indien je hier terecht kwam en geen eigenaar bent van een DIY Shrine kan je <a href="mailto:info@robbertenfrank.com">ons contacteren</a> voor meer info)</small>
    </p>
                     
    <p>
        De ‘shrine’ of schrijn is eigenlijk een <strong>transformatie-machine:</strong> ze transformeert emoties, objecten, herinneringen, wensen, gedachten, etc. Voor we aan de slag kunnen gaan, dienen we eerst de ‘shrine’ in elkaar te steken. Dit doe je d.m.v. het in elkaar klikken van de houten platen. Dit is slechts de eerste stap, daarna begint het echte werk: ontwikkel je eigen ritueel. En door dit ritueel kan je jou ‘shrine’ betekenisvol activeren. Dit gaan we doen a.d.h.v. volgende vier begrippen:
    </p>
    <div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                
    {% include icons/diy-shrine/locatie-pointer.svg %}
    
    <p><strong>A. Ruimte</strong></p>
    <p>
    De schrijn is een bijzonder object. Deze kan overal staan: op een plein, deel van een monument of gewoon los in een ruimte bij jou thuis. Ze interageert met de buitenwereld. Binnenin de ‘shrine’ is ook een ruimte. Die kan afgesloten worden d.m.v. de deurtjes. Die deurtjes zorgen voor een zekere intimiteit. De ‘shrine’ heeft niet alleen een fysieke component, maar zorgt ook voor mentale ruimte (introspectie).
                </p>
    
            </div>
        </div>
        
        <div class="flex-item">
            <div class="flex-item-item">
             
                
       {% include icons/diy-shrine/zandloper.svg%}
    
    <p><strong>B. Tijd</strong></p>
    <p>
    Tijd geeft gestalte aan de materiële wereld. Dingen ontstaan, veranderen, vergaan... Het is de kringloop van het leven. Iedere schrijn wordt dus gevoed door het element van de tijd. Tijd zorgt voor transformatie.
    </p>
                
                
            </div>
        </div>
    </div>
    </div>       
    
    <div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
    
    {% include icons/diy-shrine/wish.svg %}
    
    <p><strong>C. Intentie</strong></p>
    <p>
    De intentie is hetgeen je wil doen met de ‘shrine’. Wil je een ‘shrine’ om iets te vereren? Of om iets te verbeteren? Maak je een ‘shrine’ om een wens te doen? Of om een herinnering te koesteren? Of gebruik je jou schrijn om een boodschap de wereld in te sturen? De intentie ligt vast (voor jezelf) en bepaalt het kader waarbinnen je je ritueel zal uitvoeren.
    </p>
    
            </div>
        </div>
        
        <div class="flex-item">
            <div class="flex-item-item">
    
    {% include icons/diy-shrine/ventje-kaars-combo.svg%}
    
    <p><strong>D. Handeling</strong></p>
    <p>
    De bedoeling van de handeling is om de shrine te activeren. Zonder activatie is de schrijn een ‘dood’ ding. Voor sommige handelingen heb je geen attributen nodig: door bijv. de deurtjes 5 x open en dicht te doen, of door een bezwerend handgebaar uit te voeren, kun je de ‘shrine’ al activeren. Voor andere handelingen heb je wél objecten nodig; als je bijv. iets wil offeren, of een drankje wil plengen, een wierook-stokje aansteken,... De regels die je handeling betekenisvol maken, bedenk je uiteraard zelf en zijn gekoppeld aan je intentie.
    </p>
                
                
            </div>
        </div>
    </div>
    </div>       
    <br />

    
    <hr>

    
    <p><strong>Volgende voorbeelden kunnen je inspiratie geven om je eigen shrine / ritueel te creëren.</strong></p>
    
    <hr>

    <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-tijdcapsule.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Tijdscapsule:</strong> de ‘shrine’ kan als een kleine bibliotheek betekenisvolle objecten herbergen. Je kan wekelijks of maandelijks objecten toevoegen tot de capsule vol is. Je kan vervolgens de ‘shrine’ gebruiken als uitwisselingsmechanisme (vrienden die op bezoek komen nemen iets mee, of laten iets achter in de shrine.
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-memoria-hominem.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Memoria Hominem:</strong> wil letterlijk zeggen ‘de herinnering aan een persoon’. Schrijnen worden ingezet om de voorouder-cultus te faciliteren. In breder perspectief zijn het dus kleine tempeltjes voor overledenen (overleden huisdier, gestorven oma of opa, dode mummie, etc.).
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/bot-skull-offer-combo.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Offerplek:</strong> in het perspectief van de overleden voorouders, offeren veel culturen voedsel aan de geesten van de voorouders. Als het eten droogt / rot wordt het door de voorouder geconsumeerd. Dit kan je ook bij je schrijn doen.
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/connectie.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Cordis Umbra:</strong> letterlijk ‘de schaduw van het hart’. Dit slaat op de band die je hebt met de nog levende mensen rondom jou; een geliefde, een broer, iemand waarmee je ruzie hebt. De ‘shrine’ werkt als een portaal en d.m.v. de shrine kun je deze mensen iets sturen / ontvangen of met deze mensen een (schaduw)verbinding aangaan.
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-moon-sun.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Kalender:</strong> de tijd is cyclisch: zowel de zonne- als de maankalender zijn wederkerig. Veel rituelen herhalen zich met die regelmaat. Denk aan de zonnewende, of aan de Druïdische maanrituelen. Dit kan je zelf verder uitwerken; een actie die je iedere vrijdag herhaalt, of iedere maal je bijvoorbeeld iets doet wat je eigenlijk niet meer zou doen (ai, ik heb een sigaret gerookt = activering van de ‘shrine’).
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-quote.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>我向⾃自⼰己保证 (Wǒ xiàng zìjǐ bǎozhèng):</strong> is letterlijk een belofte aan jezelf. We kennen allemaal wel de spreuk ‘wil je de wereld veranderen, begin dan bij jezelf’. Deze spreuk past binnen de oude Confuciaanse traditie. Wij willen dit graag opentrekken en hebben daarom achteraan een lijst met quotes voorzien. De gekozen quote kan een plekje krijgen in de ‘shrine’. Bij het activeren van de schrijn hernieuw je de quote (en de belofte aan jezelf).
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-enveloppe.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Emotionele trigger:</strong> sommige rituelen worden geactiveerd als er een emotie getriggerd wordt. Bij verdriet (denk aan rouwrituelen), bij afscheid (drinkritueel als mensen lang op reis vertrekken),... Je zou een boodschap kunnen maken om de emotie onder woorden te brengen. En telkens als je die emotie voelt opnieuw iets proberen opschrijven / tekenen. Deze kun je bijv. bijhouden in een doosje of een enveloppe in de ‘shrine’.
    </p>
        <br />
        <br />
        
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/rite-de-passage.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Rite de Passage:</strong> iedereen verandert met het ouder worden. Een jongeling wordt page (bij de ridders), een meisje wordt vrouw (vruchtbaarheidsritueel), een schipper steekt voor het eerst de evenaar over (Neptunus-ritueel), commilitio-rituelen (schachten en schachtinnen in studentenculti), corporale rituelen (uit het verenigingsleven), veritas gezangen (rituele waarheidsgezangen), e.d. Gebruik je ‘shrine’ om zo een moment van overgang te faciliteren (peuter die groter wordt offert zijn tutje aan de shrine, jongeling een stukje haar, etc.).
    </p>
        <br />
        <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/shrine-candles-portal.svg %}  </p> 
        
    </div> 
    
    <p>
    <strong>Eiciam Spiritibus Malis:</strong> ‘shrines’ zijn magische portalen naar onzichtbare werelden. Ze laten toe dat goede, maar ook slechte geesten met ons contact opzoeken. Een belangrijke functie van de ‘shrine’ kan zijn om beschermbeeldjes te ‘hosten’ die de kwade geesten weren. De rituele functie van de schrijn wordt dan het behagen van de beschermbeeldjes.
    </p>
        <br />
        <br />
    
    <hr>
    <p>
        Tevreden van het resultaat? Documenteren maar... -> <a href="mailto:info@robbertenfrank.com">info@robbertenfrank.com</a> of via ‘de socials’ <a href="https://www.instagram.com/r_en_f/">#r_en_f</a> of <a href="https://www.instagram.com/r_en_f/">@r_en_f</a>.<br />
    </p>
    <p>
    Alvast bedankt voor je deelname!
    </p>
    <hr>
    <br />
    <br />
    
    <div style="text-align: center"> 
        
        <p>{% include icons/diy-shrine/ultimate-transformation.svg %}  </p> 
        
    </div> 
    
    <br />
    <br />
    
    <small>
    <p><strong>Interesse om verder te lezen of ontdekken? Check onze leeslijst (ENG):</strong></p>
        
    <ol>
        <li class="li-classic">The Book of Symbols. Reflections on Archetypal Images - by: ARAS (Archive For Research in Archetypal Symbolism) - ISBN: 9783836514484</li> 
        <li class="li-classic">The Penguin Dictionary of Symbols - by Alain Gheerbrant and Jean Chevalier - ISBN: 9780140512540</li> 
        <li class="li-classic">Dictionary of Symbols - by: Juan Eduardo Cirlot - ISBN: 9780415036498</li> 
        <li class="li-classic">The Book of Ceremony: Shamanic Wisdom for Invoking the Sacred in Everyday Life - by: Sandra
Ingerman MA - ISBN: 9789491557552</li> 
        <li class="li-classic">The Shamanic Handbook of Sacred Tools and Ceremonies - by: Barbara Meiklejohn-Free and
Flavia Kate Peters - ISBN: 9781785350818</li> 
        <li class="li-classic">I Tjing (The Book of Changes) - by: Richard Wilhelm and A. Hochberg-Van Wallinga - ISBN:
   9789020212976</li> 
        <li class="li-classic">Chinese Thought - by: Roel Stercks - ISBN: 9780241385906</li> 
        <li class="li-classic">A Short History of Chinese Philosophy - by: Yu-Lan Fung - ISBN: 9780684836348</li> 
        <li class="li-classic">Speaking with Nature - by: Sandra Ingerman and Llyn Roberts - ISBN: 9781591431909</li> 
        <li class="li-classic">The Way of the Shaman - by: Michael J. Harner - ISBN: 9780062503732</li> 
        <li class="li-classic">Tao te king - by: Lao Tse (British Oxford Translation) - ISBN: 9789401302548</li> 
        <li class="li-classic">Egyptian Mythology - by: Geraldine Pinch - ISBN: 9780195170245</li> 
        <li class="li-classic">The Hero with a Thousand Faces - by: Joseph Campbell - ISBN: 9781577315933</li> 
        <li class="li-classic">Aion - by: Carl G. Jung - ISNB: 9780415064767</li> 
        <li class="li-classic">The Wisdom of Insecurity - by: Alan Watts - ISBN: 9780307741202</li> 
        <li class="li-classic">Mortal Rituals (What the Story of the Andes Survivors Tells Us About Human Evolution) - by: Matt
J. Rossano - SIBN: 9780231535465</li> 
        <li class="li-classic">Small God, Big City: Earth God Shrines in Urban Hong Kong - by: Michael Wolf and Lynne
Distefano - ISBN: 9789888139934</li> 
        <li class="li-classic">Shrines and Pilgrimage in the Modern World - by: Peter Jan Margry - ISBN: 9789089640116</li>  
        <li class="li-classic">Manual of Psychomagic - by: Alejandro Jodorowsky - ISBN: 9781620551073
        </li>
        <li class="li-classic">Your Fathers, Where Are They? and the Prophets, Do They Live Forever? - by: Dave Eggers - ISBN: 9780241971314
        </li>
        
    </ol>        
        
    </small>
    
</main>