<div class="expander-content">

    <div class="expander-content-main">

        <div class="container-photos">

            <div class="row-photos">
                <div href="" class="photo grand-human-projects1"></div>
                <div href="" class="photo grand-human-projects2"></div>
                <div href="" class="photo grand-human-projects3"></div>
            </div>

            <div class="row-photos">
                <div href="" class="photo grand-human-projects4"></div>
                <div href="" class="photo grand-human-projects5"></div>
                <div href="" class="photo grand-human-projects6"></div>
            </div>

        </div>

        <div class="expander-text">
            <p><strong>Don't we deserve grand human projects that give us meaning?</strong> —  whereas in the past Robbert&Frank Frank&Robbert were still the operators who set the transformations of the images and scenes in motion, in Don’t we deserve grand human projects that give us meaning? they examine how they themselves can for the first time become part of their installations and designs. The artists divide and duplicate themselves as atoms in an imaginary world of primary colours that stands out sharply against the pure white landscape they find themselves in.</p>
            
            <p><em>"An intelligent combination of visual art and theater. Humoristic games of repetitition reveal the issues of an ever demanding society and upen up ideas about purpose in life."</em> - &#9733; &#9733; &#9733; &#9733; &#9733; Theaterkrant, Moos Van den Broek</p>

            <p>Information, booking and details: <a href="http://www.campo.nu/nl/production/2903/dont-we-deserve-grand-human-projects-that-give-us-meaning" target="_blank">campo.nu</a></p>
        </div>

    </div>

</div>