<div class="expander-content">

    <div class="expander-content-main">

        <div class="container-photos">

            <div class="row-photos">
                <div href="" class="photo journey1"></div>
                <div href="" class="photo journey2"></div>
                <div href="" class="photo journey3"></div>
            </div>

            <div class="row-photos">
                <div href="" class="photo journey4"></div>
                <div href="" class="photo journey5"></div>
                <div href="" class="photo journey6"></div>
            </div>

        </div>

        <div class="expander-text">
            <p><strong>A Journey into Space</strong> —  the scene is empty and dark. The only people out there are Robbert&Frank, a garden gnome and the origami animals called Mark & Jenny. The only light comes from a beamer.  The beamer is the sun in the dark performance-galaxy. It creates life in the darkness and brings movie into the theaterspace. The result is not a play, it's not a movie, it's a surreal Bukowsky inspired trip into an unknown scifi universe. </p>

            <p>Information, booking and details: <a href="http://www.campo.nu/en/production/1491/a-journey-into-space" target="_blank">campo.nu</a></p>
        </div>

    </div>

</div>