<main>
<span class="expander" id="trophies">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_trophies_1"></div>
                    <div class="photo portfolio_trophies_2"></div>
                    <div class="photo portfolio_trophies_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Trophies</strong><br>
<div class="tags">
    <a href="#sorrow" id="">#sculpture</a> 
    <a href="#mayanhieroglyfe" id="">#serial</a> 
    <a href="#reindeeroxhead" id="">#wood</a> 
    <a href="#faces" id="">#sports</a> 
    <a href="#vsigns" id="">#winner</a> 
</div>    
A prize is often materialized in the form of a medal or a trophy. These are made out of precious metals, accentuating the exceptionality of the prize itself. Frank and Robbert have made a simple change in this concept, creating a series of trophies made out of scrap wood and junk. Doing so, these objects undermine themselves as trophies, ridiculing the whole idea of ‚prize’ and ‚winning’. R&F even ridicule themselves as artists, often presenting their rubbish trophies along with their other artworks.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>