<main>
<span class="expander" id="whataboutamericanhistory">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_whataboutamericanhistory_1"></div>
                    <div class="photo portfolio_whataboutamericanhistory_2"></div>
                    <div class="photo portfolio_whataboutamericanhistory_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>What About American History</strong><br>
<div class="tags">
    <a href="#adocumentary" id="">#video</a> 
    <a href="#adocumentary" id="">#mask</a> 
    <a href="#gg2" id="">#america</a> 
</div>    
In this video, the artist duo is traveling through the United States of America, while wondering what ‚it’ (the American dream, pursuit of happiness, why is the States considered to be the ‚best’ country in the world?) is all about... this ‚land of the free’ has changed. Americans are no longer ‚living the dream’, but are faking that the dream still exists. Maybe ‚faking’ is the whole essence of the USA in the first place. Who will tell? R&F F&R play with the rectangular format of the video screen itself, transforming it into a face that can look back at the spectator. The protagonists (wearing masks of movie-stars) change in ‚screens’ themselves while playing with stuffed animals and history. Power. What is it all about? Power.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>