<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/327540950" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (44 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Blueprint - Boardgame</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2018</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td> Artwork: 42 cm x 29.8 cm<br/>
                      Frame: 46 cm x 33.2 cm x 3.0 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Two colour silk-screen print on Steinbach paper (200 gr) in royal blue and white, signed and stamped</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>incl. custom-made birch frame by Atelier Derycke<br/>Blueprint is part of the wooden suitcase project.</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>5 pieces (+ 1 artist’s proof)</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame:%20Blueprint-Boardgame%20is%20a%20limited%20edition%20silkscreen%20print%20in%20royal%20blue%20and%20white.%20Presented%20in%20a%20custom%20made%20frame.%20Check%20out%20the%20One%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame&title=Blueprint%20-%20Boardgame&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, blueprint, boardgame, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fblueprint-boardgame&title=Blueprint%20-%20Boardgame&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p><strong>The blueprints</strong> by R&amp;F/F&amp;R originated as design drawings for wooden suitcases that serve as a means of making an idea, performance or visual work mobile for deployment in the <strong>public space</strong>. </p>

<p>These <strong>wooden suitcases</strong> all have the same specific dimensions, within hand luggage restrictions. The carrier thus avoids any difficulties or formalities when <strong>travelling</strong> with the case on trains, planes, etc. In this way F&amp;R/R&amp;F can literally take their work from the studio and out into the wider world. </p>

<p>The design drawings were originally intended as workable technical drawings for the accurate <strong>construction</strong> of the wooden suitcases. However, each of these drawings would soon take on a life of their own. The hand-drawn blueprint on paper – a technique of the pre-digital era – is in its own way a timeless incubator of both new ideas and new work.</p>
    
<p>R&amp;F/F&amp;R literally got to grips with the <strong>silk-screen</strong> technique for this project, making all the necessary equipment themselves. Each print is different and none is perfect; the hand of the artist(s) is visible in every piece. The numbered blueprints are silk-screened in royal blue and white in a <strong>limited edition</strong> of 7 copies, including one artist’s proof.</p>
    
<p>Each blueprint is presented in a <strong>unique frame</strong>, designed by R&amp;F F&amp;R and custom-made by Atelier Derycke. The frame serves as a little ‘cabinet of curiosities’, where the borders inherent to a 2D work are subtly expanded to create an incubation space for 3D work.</p>

<p>These blueprints occupy an entirely autonomous position in the artistic trajectory of R&amp;F/F&amp;R as unique ‘artefacts’ of an oeuvre in continuous development.</p>
    
    <br><br>
    
    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/327340237" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>Interview with F&amp;R R&amp;F about the artwork. (Dutch language)</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_blueprintboardgame_1"></div>
                    <div class="photo portfolio_blueprintboardgame_2"></div>
                    <div class="photo portfolio_blueprintboardgame_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>