<main>
<span class="expander" id="guns">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_guns_1"></div>
                    <div class="photo portfolio_guns_2"></div>
                    <div class="photo portfolio_guns_3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_gunsbook_1"></div>
                    <div class="photo portfolio_gunsbook_2"></div>
                    <div class="photo portfolio_gunsbook_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>GUNS</strong><br>
<div class="tags">
    <a href="#googlesearch" id="installation">#installation</a> 
    <a href="#drvalcke" id="book">#book</a> 
    <a href="#whey" id="serial">#serial</a> 
    <a href="#suitcasevariations" id="wood">#wood</a> 
    <a href="#pigeonpricewinners" id="pain">#pain</a> 
    <a href="#pong" id="blood">#blood</a> 
    <a href="#vsigns" id="politics">#politics</a> 
    <a href="#tobreak" id="america">#america</a> 
    <a href="#crowds" id="alot">#alot</a>
</div>    
In 2014, F&R R&F dedicated a month of their artistic practice to the idea of a ‘sweatshop’, making as many guns as possible. The basis of the idea was simple: how many different variations of ‘gun’ can one make starting with simple wooden sticks? In the end, R&F F&R made over 400 wooden guns. After sharing their process on social media, links to compulsive disorders, ‘Kaliloze’ Night Guns, voodoo practices, child soldiers, LEGO-DIY gun manuals, and much more was suggested. This resulted in ‘GUNS’, their first artist publication (APE #54, Ghent) followed by exhibitions worldwide.
<br><br>
--> Buy your copy of the 'Guns' book <a href="http://shop.riot-ghent.org/robbert-and-frank-frank-and-robbert-%E2%80%93-guns/dp/691" target="_blank">here</a>, <a href="http://www.mottodistribution.com/shop/publishers/art-paper-editions/guns.html" target="_blank">here</a> or <a href="https://www.ideabooks.nl/9789490800369-robbert-frank-frank-robbert-guns" target="_blank">here</a>!
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>