<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/339138367" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (53 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Dog Demon suitcase – Hong Kong – Lan Kwai Fong</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2018</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td> Artwork: 110 cm x 72.8 cm<br/>
                      Frame: 115 cm x 78 cm x 3 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Four-colour silkscreen print on Steinbach paper (220 gr)</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>incl. custom-made oak frame, painted in grey, by Atelier Derycke<br/>Part of the wooden suitcase project.</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6 pieces (+ 1 artist’s proof)</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, for info<a href="mailto:info@robbertenfrank.com">contact us</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong:%20Dog%20Demon%20Suitcase%20-%20Hong%20Kong%20-%20Lan%20Kwai%20Fong%20is%20a%20four%20colour%20limited%20edition%20silkscreen%20print%20.%20Presented%20in%20a%20custom%20made%20frame.%20Check%20out%20the%20One%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong&title=Dog%20Demon%20Suitcase%20-%20Hong%20Kong%20-%20Lan%20Kwai%20Fong&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, screenprint, silkscreen, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fdog-demon-suitcase-hongkong&title=0Dog%20Demon%20Suitcase%20-%20Hong%20Kong%20-%20Lan%20Kwai%20Fong&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>This <strong>four-colour silkscreen print</strong> was made by the artists themselves. R&amp;F F&amp;R made seven prints in total, including one artist print. The work documents an <strong>action/performance in the public space</strong>, which took place in Lan Kwai Fong, a square in Hong Kong popular among expats for its nightlife. </p>

<p>F&amp;R R&amp;F constructed a series of wooden suitcases (see also the work: <a href="{{site.url}}/portfolio/dog-demon-suitcase">Dog Demon Suitcase</a>). Each case is in fact a portable performance and/or installation. The works only realise their full potential when installed and activated in the public space. As artists the duo have <strong>a holistic approach</strong>. Coincidence and intuition play a significant role in their work. The temporary nature of their performances or interventions in the public space is an essential aspect of their work. </p>

<p>This silkscreen print documents one such intervention in the public space. While exploring Hong Kong at dusk, suitcases in hand, the artists came upon a number of damaged and messily packaged <strong>Buddha statuettes</strong>, completely out of context. The poor weather and graffitied security shutters added to the somewhat forlorn yet <strong>magical sense of place</strong>. Intuitively they decided to place their own sculpture among the statues. Although it may appear contradictory, even lightly blasphemous, the sight does perfectly reflect the <strong>energy of Hong Kong</strong>, where centuries-old culture and philosophy meet contemporary culture. </p>
    
<p>This silkscreen print makes tangible F&amp;R R&amp;F’s quest to <strong>build bridges between cultures</strong>, here placing their figurine literally alongside the Buddhas in an attempt to show their perspective on the rapidly-evolving reality that surrounds them and all of us. This duality – between East and West, Asia and Europe, old and new cultures and the associated visual languages and layers of meaning – is coming to be a common thread in the work of F&amp;R R&amp;F. Ultimately the same questions keep arising over and over again: who are we? Where do we come from? And, most of all, where are we headed?</p>
    
<p>By documenting this moment, carrying it with them, and later turning it into this large-format silkscreen print, R&amp;F F&amp;R give <strong>a new interpretation to their past performance</strong>. It brings to mind the the law of conservation of energy, which states that energy can neither be lost, nor can it arise from nothing; it can only be transformed. </p>
    
    <br><br>
    
    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/339721366" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>Short interview with F&amp;R R&amp;F about the artwork. (Dutch language)</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_dogdemonsuitcasehongkong_3"></div>
                    <div class="photo portfolio_dogdemonsuitcasehongkong_1"></div>
                    <div class="photo portfolio_dogdemonsuitcasehongkong_2"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>