<main>
<span class="expander" id="faces">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_faces_1"></div>
                    <div class="photo portfolio_faces_2"></div>
                    <div class="photo portfolio_faces_4"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Faces</strong><br>
<div class="tags">
    <a href="#sorrow" id="">#video</a> 
    <a href="#drvalcke" id="">#installation</a> 
    <a href="#vsigns" id="">#print</a> 
    <a href="#trophies" id="">#sports</a> 
    <a href="#pong" id="">#pain</a> 
</div>    
-In the heat of the battle everything is possible.- ‚Faces’ is a collection of isolated sportsmen's faces found in mainstream media. They have one thing in common: the faces are all depicting the special moment where the sporter is making his/her ‚majestic move’: a jump, a knock, a stroll, a sprint,... and this gives the face an anomaly- / alien-like touch; all human emotions are caught in it. F&amp;R have stickered these faces in public areas, where they are gazing... And, they have also put them in a piece of video-art (slowly fading- in and out in the dark, supported by a ‚Ligeti’-like soundtrack that keeps on accelerating).
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>