<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->
{% assign title = "Sacred Ladder" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>

    <div class="row-artwork">
        <div class="flex-container">
            <div class="flex-item">
                <div class="flex-item-left">

                    <iframe class="iframe-artwork" src="https://player.vimeo.com/video/869837539?" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    <small style="padding-left: 5px"><br>Artwork of the month - video (55 sec) <br> with special guest <strong>Glenn Geerinck*</strong>.</small>
                </div>
            </div>

            <div class="flex-item">
                <div class="flex-item-item">

                    <h2>Sacred Ladder</h2>

                    <small>
                        <table class="table">
                            <tr>
                                <th><em>Year</em></th>
                                <td>2021</td>
                            </tr>
                            <tr>
                                <th><em>Size</em></th>
                                <td>14 cm x 7 cm x 30 cm</td>
                            </tr>
                            <tr>
                                <th><em>Materials</em></th>
                                <td>
                                    clay, glaze, wood, aluminium, glue
                                </td>
                            </tr>
                            <tr>
                                <th><em>Options</em></th>
                                <td>/</td>
                            </tr>
                            <tr>
                                <th><em>Edition</em></th>
                                <td>1/1</td>
                            </tr>
                            <tr>
                                <th><em>For Sale</em></th>
                                <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                            </tr>
                            <tr>
                                <th><em>Share</em></th>
                                <td>

                                    {% include social-share.html %}

                                </td>
                            </tr>

                        </table>
                    </small>

                </div>
            </div>
        </div>
    </div>

    <p>Deze ceramische sculpturen verbeelden een trancendentale scène. Twee abstracte figuren houden de wacht bij een ladder. Elke trede van de ladder is beschildend met een oog. De ladder zelf leidt naar boven, naar de lucht of de hemel. Het is onduidelijk of de wachters wachten op iets dat zal afdalen? Of net iemand beschermen die naar boven is gezonden?</p>

    <p>De dualiteit van de twee figuren met in hun midden de ladder doet vermoeden dat ook dit werk kan gelezen worden als een zelfportret. De abstractie van wachters laat echter toe dat velen zich kunnen herkennen in deze figuren. Deze visueel herkenbare figuren komen voor recent voor in allerlei werk van Robbert&amp;Frank: kleitabletten, (muur)tekeningen, sculpturen, enz.</p>

    <p>De figuren opereren in een andere realiteit. Enerzijds stellen ze de kunstenaars voor in hun dagdagelijkse bezigheden, aan de andere kant functioneren ze ook als alter-ego’s met magische of rituele eigenschappen. Ze beschermen, activeren, of transformeren symbolische beelden en boodschappen.</p>

    <p>Zo ook tranformeren, beschermen en activeren deze duale figuren de ladder. Een symbool dat het ‘aardse’ aan het ‘hemelse’ verbind, een hulpmiddel voor het overstijgen van de grenzen van tijd en ruimte. </p>
    
    <p>*<strong>Glenn Geerinck</strong> is an independent curator, currently heading the visual arts program at <a href="https://www.warande.be" target="_blank">De Warande</a>, Turnhout. </p>

    
    <br><br><br>

    <span class="expander" id="blueprintboardgame">

        <div class="expander-content">

            <div class="expander-content-main">

                <div class="container-photos">

                    <div class="row-photos">
                        <div class="photo portfolio_sacredladder_1"></div>
                        <div class="photo portfolio_sacredladder_2"></div>
                        <div class="photo portfolio_sacredladder_3"></div>
                    </div>
                </div>

            </div>

        </div>

    </span>

    <p style="text-align: center">- - - - - - - - - -</p>

    {% include pages/artworks-organized.html %}

</main>