<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Breadcrumbs" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
    <div class="resp-container-16-9">

        <iframe class="resp-iframe" src="https://player.vimeo.com/video/505827566" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <br><br>
            <h2>Breadcrumbs - Solo exhibition (The Movie)</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Venue</em></th>
                    <td>Be-Part, Waregem (BE)</td>
                  </tr>
                         <tr>
                    <th><em>Dates</em></th>
                    <td>Feb 23 - Nov 29 2020</td>
                  </tr>
                         <tr>
                    <th><em>Credits</em></th>
                    <td>Curator: Patrick Ronse <br>
Assistant-curator: Lara Verlinde<br>
Concept &amp; Realisation: Robbert&amp;Frank Frank&amp;Robbert<br>
Lighting: Chris Pype<br>
Audio: Koenraad Vandersyppe<br>
Technical support: Marc Vermeersch<br>
Construction assistants: Myrtille Vanhouwaert, Simon Vanheukelom, Mario Leko </td>
                  </tr>
                         <tr>
                    <th><em>Text</em></th>
                    <td><a href="https://drive.google.com/open?id=1bxhA2wOu-GxqoS2dP_lFEJ9TS4deM1GO">PDF - Exhibition text Breadcrumbs (Dutch)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>     
    
        
    
    
<p>In this video you can experience a virtual walk through F&amp;R R&amp;F’s solo exhibition ‘Breadcrumbs’. Because of the COVID-19 pandemic, it was difficult to visit the venue in person. That’s why the artists wanted to make the exhibition accessible online through video.</p>

<p>Frank&amp;Robbert Robbert&amp;Frank present a retrospective of their past five years' work (2015-2020). Through theatrical dioramas, photo and video works, sculptures, blueprints, screen prints and clay tablets, the artists tell a story that links their everyday reality to philosophical and societal questions. </p>

<p>A major focus in the exhibition is the role of the artist in the public space and the creation of a personal mythology.</p>
    
<p>Their jumping-off point is a series of wooden suitcases that they developed some years back during their summer residency at Be-Part. Like the duo's artistic practice, these constructions straddle the boundary of craftsmanship and performance, sculpture and prop, public and private space, gadget and artwork.</p>
    
<p>They also present a series of recent editions, in each of which a new medium is explored: 3D prints, ceramic tablets and silk-screen prints. In these works the matter of representation is of central importance. For the artists, this is linked to their search for their own ultimate and authentic personal symbology.</p>
    
<p>By repeatedly exposing both themselves and their work to new contexts and environments, the artists attempt to share with spectators the poetic potential of their work.</p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_breadcrumbs_1"></div>
                    <div class="photo portfolio_breadcrumbs_2"></div>
                    <div class="photo portfolio_breadcrumbs_3"></div>
                </div>
                <div class="row-photos">
                    <div class="photo portfolio_breadcrumbs_4"></div>
                    <div class="photo portfolio_breadcrumbs_5"></div>
                    <div class="photo portfolio_breadcrumbs_6"></div>
                </div>
                <div class="row-photos">
                    <div class="photo portfolio_breadcrumbs_7"></div>
                    <div class="photo portfolio_breadcrumbs_8"></div>
                    <div class="photo portfolio_breadcrumbs_9"></div>
                </div>
                <div class="row-photos">
                    <div class="photo portfolio_breadcrumbs_10"></div>
                    <div class="photo portfolio_breadcrumbs_11"></div>
                    <div class="photo portfolio_breadcrumbs_12"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>