<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Alter-ego Suitcase - Po Toi - Hong Kong" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/459299596" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (57 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

                <h2>Alter-ego Suitcase - <br>Po Toi  - Hong Kong</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2018</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td> Artwork: 110 cm x 72.8 cm<br/>
                      Frame: 115 cm x 78 cm x 3 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Four-colour silkscreen print on Steinbach paper (220 gr)</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>incl. custom-made frame by Atelier Derycke<br/>Part of the wooden suitcase project.</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6 pieces (+ 1 artist’s proof)</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>This large-format, four-colour silkscreen print depicts the <a href="{{site.url}}/portfolio/alterego-suitcase">‘Alter-Ego Suitcase’</a> set up on the bay of Po Toi island, Hong Kong. A limited edition of seven silkscreen prints was produced by the artists themselves in their atelier.</p>

<p>The wooden suitcase, purposefully made at the scale of carry-on hand luggage suitable for transport on planes and trains, serves as a portable artwork. This small, unfoldable home altar is devoted to the mythical anthropomorphic animal figures Reindeer and Bull. These are the alter egos of Robbert and Frank, respectively.</p>

<p>By activating this suitcase in striking locations, such as here on Po Toi Island, Frank&amp;Robbert create a temporary artwork each time it is deployed. On and around the suitcase we can see a number of lucky finds from the island presented as votive offerings for the altar. By embracing coincidence, Robbert&amp;Frank allow the location to leave its mark on the work. More than simply an aesthetic object, this print also documents a ritual, performative act, an adventure and a journey.</p>
    
<p>Silkscreen printing is a technique used to build up an image in patterned layers, typically comprising the colours cyan, magenta, yellow and black. The separate printing of each layer – leading to slight variations in alignment with each new print – gives rise to a unique result each time. This reflects how each ‘deployment’ of the suitcase in a new location is likewise identical yet unique.</p>

<p>The infinitely complex interplay of time and space, circumstances and people, objects and animals, forms a fantastic basis for the creation of beauty and wonder. Frank&amp;Robbert celebrate this by bringing their work into the outside world.</p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_alteregosuitcase-potoi_1"></div>
                    <div class="photo portfolio_alteregosuitcase-potoi_2"></div>
                    <div class="photo portfolio_alteregosuitcase-potoi_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}

</main>