<main>
<span class="expander" id="chocolateguns">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_chocolategun_1"></div>
                    <div class="photo portfolio_chocolategun_2"></div>
                    <div class="photo portfolio_chocolategun_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Chocolate Guns</strong><br>
<div class="tags">
    <a href="#reindeeroxhead" id="">#sculpture</a> 
    <a href="#vsigns" id="">#serial</a> 
    <a href="#sorrow" id="">#merchandise</a> 
    <a href="#ackack" id="">#pain</a> 
</div>    
In aftermath of their GUNS installation, R&F F&R received a commission from Gallery Ganache, a Ghent-based luxury chocolate shop, to remake GUNS. The remake had to be a fully fledged artwork of itself so, they took apart 3 wooden guns and transformed them into chocolate building sets, by making molds out of the basic blocks. At first sight, these ‘Do-It-Yourself’ boxes seem to present themselves as industrial-made vendibles, but F&R R&F created their own personalized chocolate, hand-made their own packages and plastics, and by doing so created an exclusive line whereby each and every piece is unique.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>