<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/394554902" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (1 min)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Wall Drawing: R&amp;F F&amp;R Cosmology 1.0</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2020</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>218 cm x 4100 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>charcoal</td>
                  </tr>
                         <tr>
                    <th><em>Details</em></th>
                    <td>In-situ work as part of the artists’ solo exhibition at <a href="https://bepartexhibitions.be/breadcrumbs/" target="_blank">Be-Part</a>, Waregem, BE</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>1/1</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@frankenrobbert.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology:%20'Wall%20Drawing%3A%20R%26F%20F%26R%20Cosmology'%20is%20a%20large%20scale%20in-situ%20charcoal%20drawing%20depicting%20the%20cosmology%20of%20the%20R%26F%20F%26R%20artist%20practice.%20Check%20out%20the%20one%20minute%20video%20in%20which%20the%20artists%20present%20the%20work." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology&title=Wall%20Drawing%3A%20R%26F%20F%26R%20Cosmology&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, sculpture, visual art, ceramics, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fwall-drawing-cosmology&title=Wall%20Drawing%3A%20R%26F%20F%26R%20Cosmology&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>Robbert&amp;Frank Frank&amp;Robbert’s solo exhibition ‘BREADCRUMBS’ (22/02/2020-1/06/2020, Be-Part, Waregem, BE) tracks the artistic trail left by their work in recent years: photos, video works, sculptures, theatrical dioramas, blueprints, silk-screen prints and clay tablets. With these they tell an ongoing story – in a visual language all of their own and as part of their personal mythology – about their shared daily reality and artistic practice, linking these to broader philosophical and societal issues.</p>

<p>On the basement level of the exhibition space, Robbert&amp;Frank Frank&amp;Robbert created a large, charcoal wall drawing: their own creation story based on their shared artistic journey, interwoven with appaerances by their alter egos and situated in a context of transformation and duality. 
</p>

<p>This transformation and duality are recurring themes in the work of the artist duo. Here these themes manifest in the two opposite-facing concrete walls, which are seamlessly connected by the unbroken wall drawings. Not only do the walls represent a duality, the images themselves are full of dual imagery: pairs of human, animal and more abstract figures, with references both to collapsed civilisations and the digital reality of today. The drawings are, on the one hand, representations of performances by the artist duo, and on the other hand direct reflections of more broadly interpretable acts from our reality. The artists also present a number of physical artworks that are linked to the drawings and serve to add further layers of meaning.</p>
    
<p>As a visitor, to view the drawing is to step into the world of R&amp;F F&amp;R and their artistic practice. Many of the duo’s artworks can be recognised in this drawing: the performance ‘Ritual Destruction of Suffering’, the alter egos ‘Reindeerhead&amp;Bullhead’, the sculpture ‘Mask Totem Pole Suitcase’, various figures from the ‘clay tablets’ series, elements from the theatre play ‘Don’t We Deserve Grand Human Projects That Give Us Meaning’, the performances of ‘Go Away Sorrow of the World’ and more.</p>
    
<p>On a more basal level, the drawing can also be read as depicting humanity’s search for stability and meaning in an uncertain world. The abstract figures seem as if they could be from an ancient, fallen civilisation, and are reminiscent of the figures in the earliest wall drawings from the prehistoric period and the sophisticated tomb paintings of Ancient Egypt. Seen from a different perspective, this drawing could equally depict science fiction, with extraterrestrial beings from another dimension visiting our own.</p>
    
<p>This monumental work joins a long tradition of trying to structure and understand reality through our cultures and civilisations. With this work, and with their artistic practice in general, R&amp;F F&amp;R attempt to participate in an age-old story of the human struggle to find meaning. In this way they present a unique, contemporary take on the overarching human need for connection.</p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_walldrawing-cosmology_1"></div>
                    <div class="photo portfolio_walldrawing-cosmology_2"></div>
                    <div class="photo portfolio_walldrawing-cosmology_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>