<main>
<span class="expander" id="adocumentary">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_a_documentary_1"></div>
                    <div class="photo portfolio_a_documentary_2"></div>
                    <div class="photo portfolio_a_documentary_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>A Documentary</strong><br>
<div class="tags">
    <a href="#googlesearch" id="">#video</a> 
    <a href="#whataboutamericanhistory" id="">#mask</a> 
    <a href="#mayanhieroglyfe" id="">#internet</a> 
</div>    
Video art. A house with several rooms. Each room containing: a special build décor, some personages and a set of strange rules. The camera works in a voyeuristic way, spying on the characters. The collected footage is pixilated and has some enthralling extras: depth measurements, time indication, enhanced zoom, focus-in-screen, etc. We see an edited version of the things that are happening in this house. It feels like a parallel world where there is no beginning and no end. Powergames. All masked characters play powergames.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
</main>