<main>
<span class="expander" id="samplersongs">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_samplersongs_1"></div>
                    <div class="photo portfolio_samplersongs_2"></div>
                    <div class="photo portfolio_samplersongs_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Sampler Songs</strong><br>
<div class="tags">
    <a href="#reindeeroxhead" id="">#performance</a> 
    <a href="#grandhumanprojects" id="">#print</a> 
    <a href="#gg2" id="">#collaboration</a>
    <a href="#thegildedchild" id="">#internet</a> 
    <a href="#vsigns" id="">#peace</a> 
</div>    
During a collaboration with the Dutch artist Sara Van Woeden, F&R R&F developed a small portable installation containing 15 cutouts of animals. Every animal corresponds with a same-like sound. During the performance, these animals are put in the air, triggering the matching sound... in doing so, this chain of actions creates a musical soundscore. During the ‚imaginary gamesoundtrack’ R&F have made a version including animals, but new variations will be developed in the near future (maybe a Star Wars version, Kitchen Table version, etc.).
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>