<main>
<span class="expander" id="crowds">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_crowds_1"></div>
                    <div class="photo portfolio_crowds_2"></div>
                    <div class="photo portfolio_crowds_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Crowds</strong><br>
<div class="tags">
    <a href="#samplersongs" id="">#print</a> 
    <a href="#samplersongs" id="">#internet</a> 
    <a href="#sorrow" id="">#politics</a> 
    <a href="#guns" id="">#alot</a> 
</div>    
‚Crowds’ consists of 4 big panels, presenting a huge photoshopped mass. This mass is a big collage of groups of people found on the internet... Muslims on a square, alien-worshipers, KKK- members cheering, football fans near the stadium,... ‚Crowds’ is (in a way) a naive work: it is a
 forced unification of the human race -. As artists, Robbert&Frank Frank&Robbert want people of all race / gender / color to become ‚one’; peacefully / respectfully / happily. Therefore many hidden jokes are incorporated or hidden amongst the masses. -Where is Waldo?-
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>