<main>
<span class="expander" id="vsigns">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_V_sign_1"></div>
                    <div class="photo portfolio_V_sign_2"></div>
                    <div class="photo portfolio_V_sign_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>V-Signs</strong><br>
<div class="tags">
    <a href="#faces" id="">#installation</a> 
    <a href="#whey" id="">#print</a> 
    <a href="#bloodstains" id="">#serial</a>
    <a href="#sorrow" id="">#peace</a>
    <a href="#thegildedchild" id="">#politics</a> 
    <a href="#vendingmachine" id="">#winner</a> 
</div>    
The V stands for ‚Victory’, but also for ‚Fuck You’. In old days it was a spiritual protection to wear off demons and ghosts. V symbolizes sexuality but it’s also used as a FreeMason rank. Almost like Marchel Duchamps ‚Moules’, it can be seen as an ‚empty vessel’, representing hundreds of possible connotations. Every single tourist does the V sign, all politicians and movie stars... R&F F&R have made cardboard figures of these well known media figures while ‚doing’ the V sign. Playing with the size and placement, Frank and Robbert have made an ‚army’ of figures doing ‚bunny-ears’ / ‚donkey-ears’ with the figure in front of them. Everyone is mocking everyone (in a symbolic appropriate way).
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>