<main>
<span class="expander" id="ackack">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_ack_ack_1"></div>
                    <div class="photo portfolio_ack_ack_2"></div>
                    <div class="photo portfolio_ack_ack_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Ack Ack</strong><br>
<div class="tags">
    <a href="#trophies" id="">#sculpture</a> 
    <a href="#guns" id="">#wood</a> 
    <a href="#faces" id="">#pain</a> 
    <a href="#bloodstains" id="">#blood</a> 
    <a href="#crowds" id="">#politics</a> 
</div>    
This personal interpretation of an anti-aircraft gun is made out of scrap wood. With the help of a built-in motor, this big gun can slowly turn around on its own axis. By doing so, this tank-like installation creates the illusion that it is constantly aware or alert for any possible danger. Add some beautiful lighting and a fitting soundscape and the ACK ACK gains the allure of a fancy new sports- car model in a showroom. Ack Ack is an in-situ art work: F&R R&F adapts the installation to the hosting site.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>