<main>
<span class="expander" id="suitcasevariations">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_suitcasevariations_1"></div>
                    <div class="photo portfolio_suitcasevariations_2"></div>
                    <div class="photo portfolio_suitcasevariations_3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_suitcasevariations_4"></div>
                    <div class="photo portfolio_suitcasevariations_5"></div>
                    <div class="photo portfolio_suitcasevariations_6"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Suitcase - Variations</strong><br>
<div class="tags">
    <a href="#ackack" id="">#installation</a> 
    <a href="#reindeeroxhead" id="">#book</a> 
    <a href="#googlesearch" id="">#serial</a> 
    <a href="#mayanhieroglyfe" id="">#wood</a> 
</div>    
In a timespan of a year, F&R have created 51 blueprints for possible portable pieces of art - all fitting in the same standard wooden suitcase. Killing their darlings, a total of 35 blueprints have been rejected... and now, slowly all the remaining concepts await their creation. Making a fire- case, a shrine for their mini alter egos, a machinal hand on wheels, a wooden suitcase containing the entire worlds religions, a portable wishing-well, etc... this project (still in full development) has already given birth to 6 suitcases, mostly presented in public spaces all over the world.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>