<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->
{% assign title = "Orizontas N°1" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>

    <div class="row-artwork">
        <div class="flex-container">
            <div class="flex-item">
                <div class="flex-item-left">

                    <iframe class="iframe-artwork" src="https://player.vimeo.com/video/1211988285" frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe>

                    <small style="padding-left: 5px"><br>Artwork of the month - video (1 min).</small>
                </div>
            </div>

            <div class="flex-item">
                <div class="flex-item-item">

                    <h2>Orizontas n°2</h2>

                    <small>
                        <table class="table">
                            <tr>
                                <th><em>Year</em></th>
                                <td>2026</td>
                            </tr>
                            <tr>
                                <th><em>Size</em></th>
                                <td>100 cm x 150 cm x 5 cm</td>
                            </tr>
                            <tr>
                                <th><em>Materials</em></th>
                                <td>Stainless steel</td>
                                </td>
                            </tr>
                            <tr>
                                <th><em>Edition</em></th>
                                <td>1/1</td>
                            </tr>
                            <tr>
                                <th><em>For Sale</em></th>
                                <td>Yes, <a
                                        href="mailto:info@robbertenfrank.com?subject=Contact%20via%20Robbert%20Frank%20website">contact
                                        us</a></td>
                            </tr>
                            <tr>
                                <th><em>Share</em></th>
                                <td>

                                    {% include social-share.html %}

                                </td>
                            </tr>

                        </table>
                    </small>

                </div>
            </div>
        </div>
    </div>

    <p>Voor BORDERS realiseerden Robbert&Frank een nieuw werk binnen hun doorlopende reeks Orizontas. Net als het
        eerdere
        sculptuur in deze reeks, bestaat het ook deze keer uit een inox gesneden silhouet dat vervolgens opnieuw in een
        openbare context geplaatst wordt. Tussen de planten en bomen van de Plantentuin verschijnt het kunstwerk als een
        liminale vorm, aanwezig op de grens tussen het verwachte en het onverwachte.</p>

    <p>Dit nieuwe kunstwerk vindt haar oorsprong in Porthbysgod (Welsh voor "Vissenpoort"), een performatieve
        interventie
        die Robbert&Frank realiseerden in het kustgebied van Noord-Wales. Tijdens een bergtocht droegen zij per toeval
        een
        gelasergegraveerde steen met zich mee. De steen had de vorm van een vis. Tijdens de tocht door het landschap
        botsten
        de kunstenaars op een cairn (steenhoop met symbolische betekenis). Frank en Robbert beslisten om hun vissensteen
        tussen de stenen van de cairn te plaatsen, als een soort geschenkje aan het landschap. Het plaatsen van een
        steen op
        een cairn heeft daarbij een boeiende historische betekenis waarbij er eer en hulde wordt gebracht aan zowel het
        landschap, als aan de overledenen uit de omgeving. De vissensteen zelf was voor de kunstenaars gelinkt aan de
        dood
        van een bevriende kunstenaar.</p>

    <p>Die ervaring vormt het vertrekpunt voor deze nieuwe Orizontas. De beweging van de performance is gestold in
        staal,
        maar blijft voelbaar. Het werk draagt nog steeds de herinnering aan een reis, alsof het een reiziger is die zich
        tijdelijk heeft gevestigd tussen de levende collectie van de Plantentuin. De reflecterende huid van het inox
        neemt
        voortdurend kleuren, licht en weersomstandigheden over. Op zonnige dagen verdwijnt het bijna in de schittering;
        als
        het interne regensysteem geactiveerd wordt dan lijkt het werk eerder op te gaan in de vochtige vegetatie. Het
        beeld
        bezit daardoor geen vaste verschijningsvorm, maar verandert samen met zijn omgeving.</p>

    <p>De titel Orizontas verwijst naar het Griekse woord voor horizon: niet een lijn die kan worden bereikt, maar een
        voortdurend verschuivende grens tussen wat zichtbaar is en wat zich nog buiten ons blikveld bevindt. De horizon
        markeert geen einde, maar een uitnodiging tot verbeelding. In deze reeks functioneren de figuren als wachters
        van
        zo'n overgangsgebied. Ze lijken afkomstig uit een onbekende tijd of cultuur en roepen associaties op met totems,
        schaduwfiguren, archeologische vondsten of wezens uit oude volksverhalen. Ze dragen geen eenduidige betekenis,
        maar
        openen een ruimte waarin verschillende interpretaties naast elkaar kunnen bestaan.</p>

    <p>Binnen de tentoonstelling BORDERS krijgt het werk een extra laag. Grenzen worden hier niet opgevat als harde
        scheidingen, maar als poreuze zones waar ontmoeting, uitwisseling en transformatie mogelijk worden. De sculptuur
        staat letterlijk op de grens tussen de gecultiveerde collectie van de Plantentuin en de verbeelding van de
        bezoeker.
        Ze vormt een stille bemiddelaar tussen natuur en cultuur, tussen het tastbare en het denkbeeldige, tussen
        menselijke
        geschiedenis en de veel langere geschiedenis van het landschap zelf.</p>

    <p>Zoals in veel projecten van Robbert&Frank speelt ook hier ritueel een belangrijke rol. Niet als verwijzing naar
        een
        specifieke traditie, maar als een manier om aandachtiger aanwezig te zijn. De figuur nodigt uit tot vertraging.
        Wie
        haar onderweg ontdekt, wordt even uit de vanzelfsprekendheid van de wandeling gehaald. De sculptuur kijkt niet
        naar
        de bezoeker, maar lijkt samen met de bezoeker naar de omgeving te kijken. Daardoor ontstaat een subtiele
        verschuiving: de tuin wordt niet langer uitsluitend een verzameling planten, maar een landschap vol mogelijke
        verhalen en verborgen relaties.</p>


    <br><br><br>

    <span class="expander" id="blueprintboardgame">

        <div class="expander-content">

            <div class="expander-content-main">

                <div class="container-photos">

                    <div class="row-photos">
                        <div class="photo portfolio-orizontas-2_1"></div>
                        <div class="photo portfolio-orizontas-2_2"></div>
                        <div class="photo portfolio-orizontas-2_3"></div>
                    </div>
                </div>

            </div>

        </div>

    </span>

    <p style="text-align: center">- - - - - - - - - -</p>

    {% include pages/artworks-organized.html %}

</main>grenskoffertje