<main>
<span class="expander" id="whey">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_whey_1"></div>
                    <div class="photo portfolio_whey_3"></div>
                    <div class="photo portfolio_whey_2"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Whey</strong><br>
<div class="tags">
    <a href="#chocolateguns" id="">#sculpture</a> 
    <a href="#crowds" id="">#print</a> 
    <a href="#vendingmachine" id="">#serial</a> 
    <a href="#trophies" id="">#winner</a> 
    <a href="#grandhumanprojects" id="">#science</a> 
</div>    
Frank and Robbert often ‚steal’ forms and concepts from everyday life. Acting like proper ‚Trojan Horses’ R&F manipulate these forms and create new content for them. So, they’ve made 4 branded WHEY-pots (presented on a pedestal with a build-in motor (slowly turning around) and a nice TL light, making sure the whole entity looks like a real WHEY-pot from a ‚body-builder’-fair or a supermarket stand). These WHEY-pots are packed with hidden jokes / links / political snaps. The labels even have clear references to other R&F F&R artworks. For example, the incorporated fictional ‚awards’ -that are in fact nothing more than pictures of the 2014 F&R ‚Trophies’. This artwork is all about charlatanism, fakeness and hoaxes.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>