<main>
<span class="expander" id="ajourneyintospace">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_a_journey_1"></div>
                    <div class="photo portfolio_a_journey_2"></div>
                    <div class="photo portfolio_a_journey_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>A Journey into Space</strong><br>
<div class="tags">
    <a href="#grandhumanprojects" id="">#theater</a>
    <a href="#grandhumanprojects" id="">#collaboration</a>
    <a href="#pong" id="">#video</a> 
    <a href="#alterego" id="">#mask</a> 
    <a href="#vendingmachine" id="">#game</a> 
    <a href="#alterego" id="">#science</a> 
    <a href="#whataboutamericanhistory" id="">#america</a> 
</div>    
Robbert&Frank Frank&Robbert have made a 50min long graphic video edit with rolling sea waves, Martian symbols, a turning gun, a maze-like ground plan, and much more... A beamer projects this video flat on the ground, making it possible to walk on / in this video-art world. F&R also act in this moving decor: Frank is a detective in search for a beautiful LA actress and Robbert is a skater boy who has been abducted by aliens. In this cat-and-mouse play, they try to leave earth and venture out in space... supported by an astronaut-origami-bird and a cosmonaut-origami-elephant.
<br><br>
--> Check <a href="http://www.campo.nu/nl/artist/721/robbertfrank-frankrobbert" target="_blank">campo.nu</a> for more info and upcoming shows!
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>