<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/381691184" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (54 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Clay Tablet - Self-portrait with Mask Totem Pole</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2019</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>17 cm x 22.8 cm x 1.5 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>white clay, engobes, ceramic glazes</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>Custom R&amp;F F&amp;R Wall Mount <a href="{{site.url}}/portfolio/claytablet-totem#wallmount">more info</a></td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6/6</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem:%20'Clay%20Tablet%3A%20Self-portrait%20with%20Masks%26Totem%20Pole'%20is%20a%20limited%20edition%20sculpture%20depicting%20the%20artists%20with%20a%20totem%20pole%20of%20masks.%20Check%20out%20the%20one%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem&title=Clay%20Tablet%3A%20Self-portrait%20with%20Masks%26Totem%20Pole&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, sculpture, visual art, ceramics, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-totem&title=Clay%20Tablet%3A%20Self-portrait%20with%20Masks%26Totem%20Pole&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>Since they came together as a duo, Robbert&amp;Frank Frank&amp;Robbert have always played with the notion of <strong>identity</strong>. This is seen in their use of alter egos, masks, copies of themselves (and of each other) and their ever-changing logos and branding. In this way they are developing a symbolism and visual language that is uniquely their own, replete with rules and (colour) codes.</p>

<p>On this clay tablet we see a <strong>self-portrait</strong> of F&amp;R R&amp;F as two headless figures next to a totem pole comprising various abstract heads – those of a ghost, an animal, a demon and a person. The duo appear to be selecting new alter egos. Or are they putting their own heads on the totem pole in order to swap identities with each other?
</p>

<p>The work refers to colourful <strong>masquerades</strong> and ritual processions, to carnival and theatre. But it is equally an ode to the fantastical creations of the Native Americans, in which humankind, animals and gods are melted into one monumental image.</p>
    
<p>The totem pole seems to <strong>rise up out of a suitcase</strong>, and thus represents the germ of a new sculptural work in the artists' 'suitcase series'. R&amp;F F&amp;R are currently working on a new, readily transportable, fold-out wooden case, which will allow for various totem pole compositions to be created while the duo is out and about. This work in turn represents the starting point of a series of new performative interventions.</p>
    
<p>This clay tablet is an advancement of <strong>a new type of work</strong> first developed by F&amp;R R&amp;F for their <a href="{{site.url}}/portfolio/claytablet-fire">'Friends of the S.M.A.K' limited edition piece</a>. To create such a tablet, digital drawings are converted into a sort of stamp (negative), which is pressed into wet clay. This design is subsequently coloured in using various glazes. Each tablet is manually produced and baked in the atelier of R&amp;F F&amp;R. The varying colour schemes make each ceramic tablet a completely unique sculpture.</p>
    
<p>F&amp;R R&amp;F are currently working on a series of new clay tablets. For each of these limited editions, R&amp;F F&amp;R imagine a different aspect of themselves as artists and as friends, always involved in some shared 'action', which could be a performance or a discussion, a ritual or even a walk. In this way, the tablets constantly call into question <strong>the position of the artist</strong> in society, as well as the position of (Western) <strong>individuals</strong> with respect to their environment.</p>
    
<p>These days almost anyone can come up with a new, digital alter ego 'à la minute', and thus enter the (virtual) world quasi incognito. Our digital networking society is the ultimate masquerade, the most sublime and grotesque carnival. This clay tablet refers, on the one hand, to an almost ritual form of (self-)worship and, on the other, to the (conscious or unconscious) loss of one's identity as an individual. <strong>What is imagined and what is real?</strong> And what is the role of the artist? Chameleon or charlatan?</p>


    
    <br><br>
    
    <div class="resp-container-16-9" id="wallmount">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/381692035" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>In this short movie F&amp;R R&amp;F present their custom edition wall mount for the 'Clay Tablets limited edition sculptures'. This wall mount is an artwork in it's own right and available as an separate extra. The wall mount will be installed by R&amp;F F&amp;R personally.</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_claytablet-totem_2"></div>
                    <div class="photo portfolio_claytablet-totem_1"></div>
                    <div class="photo portfolio_claytablet-totem_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>