<main>
<span class="expander" id="grandhumanprojects">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_grandhumanprojects_1"></div>
                    <div class="photo portfolio_grandhumanprojects_2"></div>
                    <div class="photo portfolio_grandhumanprojects_3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_grandhumanprojects_4"></div>
                    <div class="photo portfolio_grandhumanprojects_5"></div>
                    <div class="photo portfolio_grandhumanprojects_6"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Don't we deserve grand human projects that give us meaning?</strong><br>
<div class="tags">
    <a href="#tobreak" id="theater">#theater</a> 
    <a href="#tobreak" id="theater">#collaboration</a> 
    <a href="#faces" id="print">#print</a> 
    <a href="#sorrow" id="suitcase">#suitcase</a> 
    <a href="#pong" id="game">#game</a> 
    <a href="#whey" id="science">#science</a> 
</div>    
-Who says we don’t want to be inspired?- How do you deal with the universal human desire to be part of a larger whole? In a stylized atomic universe, Frank&Robbert Robbert&Frank discover the rules of duality, beauty and magnetism. With their artist’s sensitivity they construct a tight visual logic that unfolds on stage somewhere between the rarefied and the concrete. Meanings are exposed in a seemingly casual interplay of color codes and an omniscient, overarching consciousness. Carrying big arms on their head, needed for visual unraveling of the hidden mysteries behind the doors of reality and perception.
<br><br>
--> Check <a href="http://www.campo.nu/nl/artist/721/robbertfrank-frankrobbert" target="_blank">campo.nu</a> for more info and upcoming shows!
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>