<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Brick - Go Away Sorrow Of The World" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/537686514" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (57 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Brick - Go Away Sorrow Of The World</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2021</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>Variable dimensions</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Clay</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>The brick is unique and made to order</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>1/1</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>With this brick, Frank&amp;Robbert Robbert&amp;Frank fulfil a self-created need. Ever since their travels in Asia, the artists have become fascinated by shrines, house spirits, etc. In short, certain places have a unique energy and human interventions can serve to amplify or dampen this energy. With their ‘brick that improves the world’, Robbert&amp;Frank Frank&amp;Robbert can positively charge the energy of certain buildings with meaning.
</p>
    
<p>Stone is timeless. And highly durable thanks to its material qualities. R&amp;F F&amp;R make their own bricks out of natural clay, which they fire at 1,270 degrees. This makes the bricks stable and watertight. Implanting the brick is an almost surgical act; with the necessary precision they intervene and swap the temporary for the permanent.</p>

<p>The duo implanted the first brick at artist Wim Wauman’s studio in Sint-Niklaas. Wauman’s focus is on form, combining wood veneering with rituals and performance. For his research project ‘Blauwhaus’ he enters into collaborations and/or exchanges with other artists. The placement of this first brick at Wauman’s studio was thus an experimental first.</p>
    
<p>Frank&amp;Robbert Robbert&amp;Frank developed the mantra GO AWAY SORROW OF THE WORLD back in 2008. This mantra works as a shadow whose concept always remains the same but whose physical carrier changes from time to time. The mantra has previously been placed atop a 12-metre poll, incorporated in a ritual, built into a foldable wooden suitcase, made into a pin, etc. (check out these projects <a href="{{site.url}}/sorrow-blog">here</a>) And now, for the first time, it has taken the form of a custom-made brick.</p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_sorrow-brick_1"></div>
                    <div class="photo portfolio_sorrow-brick_2"></div>
                    <div class="photo portfolio_sorrow-brick_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}

</main>