<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/350974087" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (52 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Go Away Sorrow Of The World - Hong Kong</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2018</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td> Artwork: 110 cm x 72.8 cm<br/>
                      Frame: 115 cm x 78 cm x 3 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Four-colour silkscreen print on Steinbach paper (220 gr)</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>incl. custom-made oak frame by Atelier Derycke<br/>Part of the wooden suitcase project<br/>Part of the <a href="{{site.url}}/blog">Go Away Sorrow of the World Project</a></td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6 pieces (+ 1 artist’s proof)</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, for info<a href="mailto:info@robbertenfrank.com">contact us</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong:%20Go%20Away%20Sorrow%20Of%20The%20World%20-%20Hong%20Kong%20is%20a%20four%20colour%20limited%20edition%20silkscreen%20print%20.%20Presented%20in%20a%20custom%20made%20frame.%20Check%20out%20the%20One%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong&title=Go%20Away%20Sorrow%20Of%20The%20World%20-%20Hong%20Kong&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, silkscreen, screenprint, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-hongkong&title=Go%20Away%20Sorrow%20Of%20The%20World%20-%20Hong%20Kong&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>This <strong>large-format, four-colour silkscreen</strong> shows R&amp;F F&amp;R carrying out the performance ‘Go Away Sorrow of the World’ at Victoria Peak, Hong Kong. Here they are assisted by a local employee of G4S, the largest security firm in the world. The silkscreen was printed by the artists themselves at their studio as part of a <strong>limited edition of seven pieces.</strong> </p>

<p>‘Go Away Sorrow of the World’ is a <strong>performance</strong> the artists have been travelling the world with for four years now. Central to the performance is a <strong>wooden suitcase</strong>, which can be unfolded, à la <strong>Inspector Gadget</strong>, into a free-standing sculpture of over two metres in height.   The transformation is complete when Frank lifts Robbert so that he can open out the two panels to reveal the message: <strong>‘GO AWAY SORROW OF THE WORLD’</strong>. In this silkscreen print we can see an iteration of the performance in which the message has been translated into Cantonese, the original language of Hong Kong.</p>

<p>The man seen posing near the message is usually responsible for keeping secure a site where a number of telecom masts are located. Given that an important objective of this work is to <strong>spread its message</strong> as far as possible, F&amp;R R&amp;F felt this was a fitting location to unfold their suitcase. At first the security guard denied the artists entry to the site. However, after R&amp;F F&amp;R made their intentions known through hand gestures (English was out of the question), the man developed an unexpected sympathy for their endeavour and led the artists along a small, steep path to the <strong>highest point on Hong Kong Island.</strong></p>
    
<p>This silkscreen neatly illustrates how, through this work, R&amp;F F&amp;R attempt to enter into <strong>dialogue</strong> with both their environment and the local spectator(s). In the background we see Hong Kong looming through the mist, in the middle distance the unexpected encounter and, in the foreground, Frank attempting to hold everything together. By <strong>allowing coincidence</strong> to enter into the dynamic of this performance, the artists often succeed in <strong>capturing a unique moment.</strong></p>
    
<p>They strongly believe that this performance and its message can work as <strong>a powerful mantra</strong>. Just as monks chant certain phrases repeatedly to bring about a positive vibration in the universe, through their repeated actions F&amp;R R&amp;F attempt to resonate with their environment and their spectators. In this way, those in possession of this silkscreen print are also participants in this work. Go forth and spread the message: <strong>‘Go away sorry of the world!’</strong></p>
    
    <br><br>
    
    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/350976134" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>Short interview with F&amp;R R&amp;F about the artwork. (Dutch language)</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_sorrowhongkong_3"></div>
                    <div class="photo portfolio_sorrowhongkong_1"></div>
                    <div class="photo portfolio_sorrowhongkong_2"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>