<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Alter-ego Suitcase - Po Toi - Hong Kong" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/483991175" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (58 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

                <h2>Corona Christmas Present 2020</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2020</td>
                  </tr>
                  <tr>
                    <th><em>Options</em></th>
                    <td>Mini Gift - €25:<br>
                        <ul>
                            <li>4 R&amp;F F&amp;R Stickers</li>
                            <li>2 Ceramic Amulets</li>
                            <li>1 Go Away Sorrow Of The World - Pin</li>
                            <li>1 Limited Editions F&amp;R R&amp;F Beer</li>
                        </ul>
                        Maxi Gift - €50:
                        <ul>
                            <li>Everything from Mini Gift</li>
                            <li>+ Limited Edition Print (69,7 x 100 cm)</li>
                        </ul>
                        
                             </td>
                  </tr>
                  <tr>
                    <th><em>Edition</em></th>
                    <td>Mini Gift: 25 pieces<br>
                      Maxi Gift: 25 pieces</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, go to our <a href="http://www.ko-fi.com/r_en_f/shop">online shop</a><br> or <a href="mailto:info@robbertenfrank.com">contact us</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_christmas-gift_1"></div>
                    <div class="photo portfolio_christmas-gift_2"></div>
                    <div class="photo portfolio_christmas-gift_3"></div>
                </div>
                <div class="row-photos">
                    <div class="photo portfolio_christmas-gift_4"></div>
                    <div class="photo portfolio_christmas-gift_5"></div>
                    <div class="photo portfolio_christmas-gift_6"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    
<p>This large-format, four-colour silkscreen print depicts the <a href="{{site.url}}/portfolio/alterego-suitcase">‘Alter-Ego Suitcase’</a> set up on the bay of Po Toi island, Hong Kong. A limited edition of seven silkscreen prints was produced by the artists themselves in their atelier.</p>

<p>The wooden suitcase, purposefully made at the scale of carry-on hand luggage suitable for transport on planes and trains, serves as a portable artwork. This small, unfoldable home altar is devoted to the mythical anthropomorphic animal figures Reindeer and Bull. These are the alter egos of Robbert and Frank, respectively.</p>

<p>By activating this suitcase in striking locations, such as here on Po Toi Island, Frank&amp;Robbert create a temporary artwork each time it is deployed. On and around the suitcase we can see a number of lucky finds from the island presented as votive offerings for the altar. By embracing coincidence, Robbert&amp;Frank allow the location to leave its mark on the work. More than simply an aesthetic object, this print also documents a ritual, performative act, an adventure and a journey.</p>
    
<p>Silkscreen printing is a technique used to build up an image in patterned layers, typically comprising the colours cyan, magenta, yellow and black. The separate printing of each layer – leading to slight variations in alignment with each new print – gives rise to a unique result each time. This reflects how each ‘deployment’ of the suitcase in a new location is likewise identical yet unique.</p>

<p>The infinitely complex interplay of time and space, circumstances and people, objects and animals, forms a fantastic basis for the creation of beauty and wonder. Frank&amp;Robbert celebrate this by bringing their work into the outside world.</p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_christmas-gift_1"></div>
                    <div class="photo portfolio_christmas-gift_2"></div>
                    <div class="photo portfolio_christmas-gift_3"></div>
                </div>
                <div class="row-photos">
                    <div class="photo portfolio_christmas-gift_4"></div>
                    <div class="photo portfolio_christmas-gift_5"></div>
                    <div class="photo portfolio_christmas-gift_6"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>