<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/376369116" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (58 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Go Away Sorrow of the World – Venice</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2017</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td> Artwork: 110 cm x 72.8 cm<br/>
                      Frame: 124.2 cm x 89.8 cm x 4.9 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Four-colour silkscreen print on Steinbach paper (220 gr)</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>incl. custom-made oak frame by Atelier Derycke<br/>Part of the Go Away Sorrow of the World project</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6 pieces (+ 1 artist’s proof)</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice:%20Go%20Away%20Sorrow%20of%20the%20World%20-%20Venice%20is%20a%20four%20colour%20limited%20edition%20silkscreen%20print%20.%20Presented%20in%20a%20custom%20made%20frame.%20Check%20out%20the%20One%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice&title=Go%20Away%20Sorrow%20of%20the%20World%20-%20Venice&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, screenprint, silkscreen, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fsorrow-venice&title=Go%20Away%20Sorrow%20of%20the%20World%20-%20Venice&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>This four-colour silkscreen print is the first in a series of full-colour, limited-edition silkscreen prints made by Frank&amp;Robbert Robbert&amp;Frank in their own studio. This edition is limited to seven pieces, including one artist’s proof. Each print is mounted in a custom-made, natural oak frame by Atelier Derycke.</p>

<p>The work documents a public-space intervention performed during the opening weekend of the Venice Biennale in 2017. The words "Go Away Sorrow of the World" were literally laid onto the surface of the Venice lagoon, appearing as a message that had washed ashore. Each letter is made of wood reclaimed from previous editions of the Biennale. This silkscreen print is based on a collage of photos taken from different perspectives, together giving an overview of this large spatial work – 20-25 metres long in reality – in one image.</p>

<p>R&amp;F F&amp;R were invited by Workspace Brussels to participate in the Dark Matter Games project in Venice, in collaboration with the Venetian artspace Sale Dox. Inspired by the essay ‘Dark Matter’ by Gregory Sholette, this project collected, developed and presented artistic practices that, due to their transdisciplinary and socially engaged character, are often passed over by the more classical art institutions.</p>
    
<p>This work is part of a series of works built around the mantra ‘Go Away Sorrow of the World’. R&amp;F F&amp;R originally wanted to unfold their ‘Go Away Sorrow of the World’ suitcase at the Piazza San Marco but, as it was obstructed by the Carabinieri, they had to find an alternative means of communicating the work with the public. Wood reclaimed from previous editions of the Biennale, which had been stockpiled at the Sale Docks, served as a source of inspiration for the new work. The wooden letters were linked together to create the long sentence, which bobbed on the surface of the water unhindered for days before eventually becoming battered and disappearing, piece by piece. </p>
    
<p>By capturing, documenting and incorporating this moment in this silkscreen print, amid a context of art-world decadence, distressing refugee crisis and simultaneous mass tourism, R&amp;F F&amp;R load this purposeful artistic action with layered meaning. This work perfectly symbolises a common thread in their oeuvre: the deepening and continual recontextualisation of their visual work through interventions in the public space.</p>
    
<p></p>
    
    <br><br>
    
    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/376385663" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>Short interview with F&amp;R R&amp;F about the artwork. (Dutch language)</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_sorrow-venice_2"></div>
                    <div class="photo portfolio_sorrow-venice_1"></div>
                    <div class="photo portfolio_sorrow-venice_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>