<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Claytablet - To Break" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/420305962" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (47 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Clay Tablet - To Break the Window of Opportunity</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2020</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>17 cm x 22.8 cm x 1.5 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>white clay, engobes, ceramic glazes</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>Custom R&amp;F F&amp;R Wall Mount <a href="{{site.url}}/portfolio/claytablet-totem#wallmount">more info</a></td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6/6</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@frankenrobbert.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>The clay tablet presented here is based on an action/scene from the theatre production <a href="{{site.url}}/portfolio/to-break" target="_blank">T0 BREAK: The Window of Opportunity</a> (CAMPO, 2014). In this show we follow Robbert&amp;Frank Frank&amp;Robbert on a journey through a barren landscape dominated by a sandy colour palette. Against this backdrop the artists use themselves and each other as building blocks to construct various situations. For example, at one point Robbert transforms into a snowy landscape and subsequently the deceased Laura Palmer from Twin Peaks, while Frank balloons into a personification of the giant from Gulliver’s Travels, as well as a helicopter and a gigantic eagle.</p>

<p>On this clay tablet R&amp;F F&amp;R are depicted as two abstracted figures seated on a ladder. The gesturing of the figures activates the totem pole, with both artists as living totems. The tablet’s construction represents duality: two figures, two worlds, two balls, etc. This duality creates literal balance. At the bottom of the ladder is a little pool of blood and a snake. These are recurring pictograms in the work of F&amp;R R&amp;F. They are staged elements from the theatre world. But they also refer to the earthly, the imperfect, to the flawed nature of humanity, while the ladder in combination with the figures reaching for the sky is a metaphor for the human search for meaning. The imperfect human as a social being, as a subject seeking out the ever-precarious balance between themselves and the other, the context, the prevailing time period, etc.</p>

<p>F&amp;R R&amp;F are continually seeking out new and different ways to translate, document and breathe life into their temporary performative interventions. The clay tablet, an historical carrier of language and meaning, is one of them. Each of the duo’s clay tablets bears the seed for, or the memory of, a shared action, performance or show. In this way R&F F&R bridge the gap between their autonomous visual work and the activation of ‘an idea’. The viewer becomes a participant, a fellow traveller, in their artistic world, and gains an unexpected insight into the world in which we live today.</p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_claytablet-tobreak_3"></div>
                    <div class="photo portfolio_claytablet-tobreak_1"></div>
                    <div class="photo portfolio_claytablet-tobreak_2"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>