<main>
<span class="expander" id="pong">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_PONG_2"></div>
                    <div class="photo portfolio_PONG_1"></div>
                    <div class="photo portfolio_PONG_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>PONG</strong><br>
<div class="tags">
    <a href="#thegildedchild" id="">#video</a> 
    <a href="#gg2" id="">#installation</a> 
    <a href="#tobreak" id="">#blood</a> 
    <a href="#grandhumanprojects" id="">#game</a> 
    <a href="#guns" id="">#pain</a> 

</div>    
Atari’s very first videogame Pong (1972) transformed into a piece of video art. R&amp;F F&amp;R changed the 8-bit ball into a bullet. The game’s two players are no longer play ping-pong, but kill each other in various, unique ways. The loser is represented as a dead, white line, bleeding bright red pixels.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>