<main>
<span class="expander" id="drvalcke">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_dr_Valcke_2"></div>
                    <div class="photo portfolio_dr_Valcke_1"></div>
                    <div class="photo portfolio_dr_Valcke_3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_dr_Valcke_4"></div>
                    <div class="photo portfolio_dr_Valcke_5"></div>
                    <div class="photo portfolio_dr_Valcke_6"></div>
                </div>
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Dr. Valcke</strong><br>
<div class="tags">
    <a href="#guns" id="">#installation</a> 
    <a href="#gg2" id="">#collaboration</a> 
    <a href="#vendingmachine" id="">#merchandise</a> 
    <a href="#tobreak" id="">#wood</a> 
</div>    
During the beginning of the 1900’s, somewhere in the city of Kortrijk, a ‚doctor’ ordered the construction of a water-hospital. He believed that a variety of water treatments could help the ill. The hospital was only 2 years operational, then it became a WWI whorehouse. Afterwards it changed into a mental institution, a jail, a small electricity-unit, etc... 100 years after its construction the building was donated to Wit.h. This NGO organizes open working spaces for artists with a mental or physical restriction. Wit.h invited F&R R&F to collaborate with Johan and Laurence - together they changed the building in a ‚modern’ water-hospital. They transformed the edifice in a giant in-situ installation -, containing a 6m tall gargoyle-totem, a wishing well (with wishing coins), shamanistic machines, red/white cells, singing echo’s and much more...
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>