<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/388496190" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (1 min 55 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Mask Totem Pole Suitcase</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2020</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>52 cm x 242 cm x 45.5 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Wood, screws, bolts, magnets, acrylic paint, varnish</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>adjustable<br>
                        part of the wooden suitcase project
                             </td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>1/1</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>No</td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase%20'Mask%20Totem%20Pole%20Suitcase'%20is%20a%20wooden%20sculpture%20depicting%20the%20artists%20with%20a%20totem%20pole%20of%20masks.%20Check%20out%20the%20one%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase&title=Mask%20Totem%20Pole%20Suitcase&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, sculpture, visual art, ceramics, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Ftotempole-suitcase&title=Mask%20Totem%20Pole%20Suitcase&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>Ever since their early experiments at art school, F&amp;R R&amp;F have made use of alter egos, masks and totems (see <a href="{{site.url}}/portfolio/portfolio-alter-ego.html">Alter Ego</a>, <a href="{{site.url}}/portfolio/portfolio-a-documentary.html">A Documentary</a>, <a href="{{site.url}}/portfolio/portfolio-dr-valcke.html">Dr. Valcke</a>). Like a Native American tribe, they work together to create a shared identity. This new identity is not a singularity, but a duality. And, like the artists themselves, it is in a state of constant evolution. Transformation and transfiguration are thus of central significance in their work. R&amp;F F&amp;R are amassing a collection of ensouled objects and characters to populate their world – in their clay tablets and drawings, in their performances and installations.</p>

<p>The term ‘totem pole’ refers specifically to the North-American identification posts of indigenous communities. These are carved from single trunks of the tree Thuja plicata (the ‘Tree of Life’, a cypress-like North American species). The word ‘Totem’ comes from the Ojibwe word (o)doodem, literally ‘family sign’. A totem is thus used to indicate the group to which one belongs, but it is also a (super)natural being or animal bearing a personal, symbolic meaning.</p>

<p>This R&amp;F F&amp;R totem pole is kept in a wooden case and comprises many components that can be arranged in various improvised permutations. The masks of the totem are recognisable. They serve not to exclude anyone, but to reflect possibilities and emotions. The possibility to grow and evolve or even change identity. A ritual site is created instantly wherever this case is unfolded. The totem pole’s changing configurations, and the choices behind them, serve to spark an active metamorphosis and incarnation: in this way it may transform into a person, an animal, a spirit, a mythical figure or simply a powerful image.</p>
    
<p>The small wooden case is starting to become a common thread in the world of R&amp;F F&amp;R. It symbolises portability, adventure, the encounter with the unknown, ingenuity and playfulness. These suitcase works are never ‘finished’ per se; they are recreated with every use or implementation (as with performances and live works).</p>
    
<p>On the side of the case is an inscription: 变. This Chinese character, ‘biàn’, literally means ‘transformation’. The beauty of this character is that its structure is of a dual nature, making it perfectly at home in the universe of Frank&amp;Robbert Robbert&amp;Frank. It is also linked to the indigenous culture of Jilin in North-East China, a place known in Asia for its own variation on the totem pole. The stacking of head forms to create a pole is also found in certain Korean cultures and among the Ainu people of Japan.</p>


    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_totempole-suitcase_1"></div>
                    <div class="photo portfolio_totempole-suitcase_2"></div>
                    <div class="photo portfolio_totempole-suitcase_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>