<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Table Dialogues" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
    
    <div class="resp-container-16-9">
                    
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/729591715?h=ca8dd1b84c" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <br><br>
            <h2>Table Dialogues</h2>
            
    
    <p><strong>A collection of five intimate, immersive participatory performances</strong>.Table Dialogues is a project that unites <a href="https://www.interaction-design.org/literature/topics/extended-reality-xr>">extended reality</a>, interactive theatre and visual art. It is the brainchild of artist duo Robbert&amp;Frank Frank&amp;Robbert and is based on their personal experience in playing and making. Step into their shoes and experience in small groups – of friends or strangers – what it’s like to enter and activate a new universe.</p>
    
            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2021 - ongoing</td>
                  </tr>
                  <tr>
                    <th><em>Performances</em></th>
                    <td>FIRE, EARTH, WOOD, WATER, METAL</td>
                  </tr>
                <tr>
                    <th><em>Instagram</em></th>
                      <td><a href="www.instagram.com/tabledialogues">@tabledialogues</a></td>
                  </tr>
                  <tr>
                    <th><em>Production</em></th>
                    <td>wuwao<br><br>
                      in co-production with:
                      <ul>
                        <li>R&amp;F F&amp;R VZW</li>
                        <li>Reiefestival (Bruges)</li>
                        <li>Arts Center CAMPO (Ghent)</li>
                        <li>Arts Center BUDA (Kortrijk)</li>
                        <li>Auawirleben Festival (Bern)</li>
                        <li>De Brakke Grond (Amsterdam)</li>
                        </ul>
                      supported by the VAF/MEDIA FUND and Flanders – State of the Arts</td>
                  </tr>
                         <tr>
                    <th><em>Tour info</em></th>
                             <td>Check <a href="https://www.vincentcompany.be/robbertfrankfrankrobbert">Vincent Company</a></td>
                  </tr>
                        <tr>
                    <th><em>Booking</em></th>
                    <td><a href="https://www.vincentcompany.be/robbertfrankfrankrobbert">Vincent Company</a> or <a href="mailto:info@robbertenfrank.com">Contact us</a></td>
                  </tr>
                 <tr>
                    <th><em>More info</em></th>
                      <td><a href="https://docs.google.com/document/d/1I1q9TvJcwx18WN-u6aVVAayKMYGPbeRXEkhHj9hJH1s/edit?usp=sharing">Table Dialogues - introduction</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>
                                
                            {% include social-share.html %}

                    </td>
                    </tr>

             </table></small>   

    
    <br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_table-dialogues_1"></div>
                    <div class="photo portfolio_table-dialogues_2"></div>
                    <div class="photo portfolio_table-dialogues_3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_table-dialogues_4"></div>
                    <div class="photo portfolio_table-dialogues_5"></div>
                    <div class="photo portfolio_table-dialogues_6"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
     <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_table-dialogues_12"></div>
                    <div class="photo portfolio_table-dialogues_11"></div>
                    <div class="photo portfolio_table-dialogues_10"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_table-dialogues_7"></div>
                    <div class="photo portfolio_table-dialogues_8"></div>
                    <div class="photo portfolio_table-dialogues_9"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>   
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}

</main>