<main>

<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">

                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/369344652" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month <br> Video 1/2: Screwdriver 'F' (54 sec)<br> --> scroll down for  video 2/2: Screwdriver 'R'</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>F&R Screwdriver</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2018</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>48 cm x 20 cm x 20 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>Multiplex birch, Cal. Redwood, iron rod, museum glass,
		3D-printed stainless steel ‘F’ &amp; ‘R’ screwdriver bit &amp; screws
                    </td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>/</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>/</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Not for sale</td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body='R%26F%20Screwdriver'%20is%20a%20custom%20made%2C%203D%20printed%20screwdriver%20in%20stainless%20steel%20by%20Robbert%26Frank%20Frank%26Robbert.%20Check%20out%20the%20one%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio%3A%20%0A%0Awww.frankenrobbert.com%2Fportfolio%2Fscrewdriver%0A%0A" target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fscrewdriver&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fscrewdriver" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fscrewdriver&title=R%26F%20Screwdriver%2C%203D%20printed%20custom%20made%20screwdriver&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, sculpture, visual art, 3Dprinting, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fscrewdriver&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fscrewdriver&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fscrewdriver&title=R%26F%20Screwdriver%2C%203D%20printed%20custom%20made%20screws&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>




<p>Last month R&F F&R presented a set of personalised screws with an R-shaped indent on one screwhead and an F-shaped indent on the other (see <a href="{{site.url}}/portfolio/r&f-screws">R&F Screws</a>). This month F&R R&F present their handmade personalised screwdrivers with F&R screw bits.</p>

<p>Only using these unique screwdrivers can the R&F screws described above be tightened or loosened. Just as Frank and Robbert form a unity of two entities, these screws and their corresponding screwdrivers are also interlinked. As with the artists, the potential of the corresponding objects is only realised when they are united. </p>

<p>The two screwdrivers are each presented as a museum artefact in an elegant display cabinet, constructed out of fine woodwork and completely sealed behind museum glass. The cabinet is perfectly sealed as the lids of the cabinets are screwed shut with the unique corresponding screws: R-headed screws for the cabinet containing the R-headed screwdriver and F-headed screws for that containing the F-headed screwdriver. The screwdriver is thus paradoxically enclosed by itself.</p>

<p>With this sculpture R&F F&R very tangibly and playfully call into question the notions of the ‘hand of the master’ and ‘the signature of the artist’. Are ‘unique’ and ‘authentic’ still meaningful terms in contemporary artistic practices? If so, how and why? Is ‘F&R R&F’ simply a name, a unique artist’s signature, or a catchy brand name?</p>

<p>How does contemporary art relate to the artistic practice and tradition of craftspersonship, on the one hand, and rapidly-evolving technical and digital possibilities, on the other? Throughout their artistic history together, R&F F&R have long investigated the meaning and role of art/the artist in this magical-realistic, hi-tech, neoliberal world. See also the works <a href="{{site.url}}/portfolio/vending-machine">R&F vending machine</a> and <a href="{{site.url}}/portfolio/whey">R&F Whey</a>.</p>




    <br><br>

    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/369347133" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <small><div style="text-align: center">Artwork of the month<br>Video 2/2: Screwdriver 'R' (50 sec) <br> --> scroll up for screwdriver 'F'</div></small>

    <br><br><br>

<span class="expander" id="blueprintboardgame">

    <div class="expander-content">

        <div class="expander-content-main">

            <div class="container-photos">

                <div class="row-photos">
                    <div class="photo portfolio_screwdriver-r_2"></div>
                    <div class="photo portfolio_screwdriver-r_1"></div>
                    <div class="photo portfolio_screwdriver-r_3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_screwdriver-f_2"></div>
                    <div class="photo portfolio_screwdriver-f_1"></div>
                    <div class="photo portfolio_screwdriver-f_3"></div>
                </div>

            </div>

        </div>

    </div>

</span>

    <p style="text-align: center">- - - - - - - - - -</p>


    {% include pages/artworks.html %}

</main>
