<main>
<span class="expander" id="pigeonpricewinners">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_pigeonpricewinners_1"></div>
                    <div class="photo portfolio_pigeonpricewinners_2"></div>
                    <div class="photo portfolio_pigeonpricewinners_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Pigeon Pricewinners</strong><br>
<div class="tags">
    <a href="#suitcasevariations" id="sculpture">#sculpture</a> 
    <a href="#mayanhieroglyfe" id="print">#print</a> 
    <a href="#chocolateguns" id="serial">#serial</a> 
    <a href="#thegildedchild" id="internet">#internet</a> 
    <a href="#samplersongs" id="peace">#peace</a> 
    <a href="#thegildedchild" id="winner">#winner</a> 
    <a href="#chocolateguns" id="pain">#pain</a> 
</div>    
Training pigeons to fly home, breeding pigeons for their strength or beauty,... during the last millennium, this bird was one of our most favorite animal friends. However, after 1000 years of (mis)rearing, the award winning pigeons of worlds biggest tournaments look a little bit weird nowadays. Birds with stiff necks, with mutated heads, etc. They couldn't survive in the wild. They are beautiful and dreadful at the same time. The price winners of 2014 have been photographed and R&amp;F F&amp;R have used them in life sized light boxes (gathering all winning anomalies in one big freak-show).
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>