<main>
<span class="expander" id="vendingmachine">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_vendingmachine_1"></div>
                    <div class="photo portfolio_vendingmachine_2"></div>
                    <div class="photo portfolio_vendingmachine_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Vending Machine</strong><br>
<div class="tags">
    <a href="#bloodstains" id="">#sculpture</a> 
    <a href="#pigeonpricewinners" id="">#serial</a> 
    <a href="#drvalcke" id="">#merchandise</a> 
    <a href="#ajourneyintospace" id="">#game</a> 
    <a href="#whey" id="">#winner</a> 
</div>    
Frank&amp;Robbert ‚play’ with branding themselves as a corporate organization. It is funny noticing that companies like ‚Coca-Cola’ choose in their most recent adds that the customer isn’t buying a drink, but is ‚opening happiness’ when consuming a ‚coke’. This change of perspectives was the incentive for R&amp;F F&amp;R to develop a vending machine that works like a fortune wheel... the machine presents the ‚costumer’ a random ball (in exch. for 2EUR) with inside a mini version of a branded F&R artwork, or- something else... like a pin, a sticker, a piece of merchandise. -Open Happiness, buy a ball.-
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>