<main>
<span class="expander" id="gg2">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_gg_1"></div>
                    <div class="photo portfolio_gg_2"></div>
                    <div class="photo portfolio_gg_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>The Pursuit of the Gentlemen's Gentlemen</strong><br>
<div class="tags">
    <a href="#vsigns" id="installation">#installation</a> 
    <a href="#drvalcke" id="collaboration">#collaboration</a> 
    <a href="#ajourneyintospace" id="america">#america</a> 
</div>    
The Gentlemen’s Gentlemen is a concept from Brian Getnick and Noe Kidder. These USA-based artist invented a theaterplay about a theater (somewhere near the Erie-cannal) that is home to an actor/boar, an actress, a living potted palm, a talking chandelier (that loves mayonnaise), a God- like evil janitor and a rehearsed audience. There is a world above and a world below. Some terrible horrors happen and the whole story has the feeling of being endless and of repeating itself. In 2008 Getnick and Kidder collaborated with R&amp;F F&amp;R for a Belgian production of the GG in CROXHAPOX Ghent. 9 years later, CROX offered F&amp;R the opportunity to do a remake... This
time, Robbert and Frank combined forces with the girls from Buren collective, building a giant scenography with various small installations depicting bits&amp;pieces of the story.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>