<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Don't we deserve grand human projects that give us meaning?" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/402492065" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (52 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Don't we deserve grand human projects that give us meaning?</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2017 - ongoing</td>
                  </tr>
                  <tr>
                    <th><em>Duration</em></th>
                    <td>1 hour</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>1 red ball, 2 actors, 3 doors, white carpet, forex panels, water, video projection &amp; soundtrack</td>
                  </tr>
                        <tr>
                    <th><em>Production</em></th>
                    <td>CAMPO - coproduction De Beursschouwburg (BE), PACT Zollverein (DE) &amp; Auawirleben Bern (CH)</td>
                  </tr>
                         <tr>
                    <th><em>Tour info</em></th>
                    <td>See <a href="https://www.campo.nu/en/production/2903/dont-we-deserve-grand-human-projects-that-give-us-meaning" target="_blank">CAMPO website</a></td>
                  </tr>
                        <tr>
                    <th><em>Booking</em></th>
                    <td><a href="mailto:info@frankenrobbert.com">Contact us</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>
                                
                            {% include social-share.html %}

                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>How do you deal with the universal human desire to be part of a larger whole?</p>

<p>In Don’t we deserve grand human projects, R&amp;F F&amp;R look for meaning in a world with no Grand Narrative, and this artistic duo do it in their very own way: with references to space travel (a theme that had already appeared in their earlier work, e.g. A Journey into Space) and science. One of the major sources of inspiration for this production was Dave Eggers’ novel 'Your Fathers Where Are They? And The Prophets Do They Live Forever?', in which he looks for answers to life’s Great Questions.
</p>

<p>For R&amp;F F&amp;R, the need for meaning evolved from an almost shamanist world-view, with accompanying masks and pregnant symbolism, to the worldliness of contemporary politics and the ubiquitous visual idiom of America. In 'Don’t we deserve grand human projects' they take the next step in their process of attributing meaning. </p>
    
<p>Whereas in the past R&amp;F F&amp;R were still the operators who set the transformations of the images and scenes in motion, in this new production they examine how they themselves can for the first time become part of their installations and designs. The artists divide and duplicate themselves as atoms in an imaginary world of primary colours that stands out sharply against the pure white landscape they find themselves in. </p>
    
<p>In this new production too, R&amp;F F&amp;R generate a new, well-delineated visual vocabulary in which, this time, craft makes way for clean design. In a game using intelligent cut-outs, they again and again create new and surprising perspectives that allow them to travel in time or to freeze their world for a moment. These cardboard versions of everyday objects, and above all of themselves, make up the building blocks of the performance.</p>
    
<p>Soundscapes, text and music are always a fundamental part of R&amp;F F&amp;R’s productions. This time, the peculiar soundtrack was put together by the composer and multi-instrumentalist Boris Zeebroek. The performance is also accompanied by a voice-over that will be somewhere between a sports commentary, an explanation of metaphysics and an instruction tape for a conjuring trick.</p>
    
<p>
<strong>PREMIERE</strong> March 31 &amp; April 1, 2017 in PERFORMATIK Brussels (BE) <br>
<strong>BY AND WITH</strong> Frank&amp;Robbert Robbert&amp;Frank  / <strong>DRAMATURGY</strong> <a href="https://en.wikipedia.org/wiki/Pol_Heyvaert" target="_blank">Pol Heyvaert</a> <br> 
<strong>SOUND DESIGN</strong> <a href="https://soundcloud.com/bolispupul" target="_blank">Boris Zeebroek</a> /
<strong>VOICE-OVER</strong> <a href="http://site.jonathan.beaton.name" target="_blank">Jonathan Beaton</a> &amp; <a href="https://be.linkedin.com/in/anna-stoppa-a28ab020/en" target="_blank">Anna Stoppa</a> <br>
<strong>MOVEMENT COACH</strong> <a href="https://www.parts.be/teacher/charlotte-vanden-eynde" target="_blank">Charlotte Vanden Eynde</a><br>
<strong>TECHNIQUE</strong> Korneel Coessens, Bart Huybrechts &amp; Maarten Van Trigt <br>
<strong>THANKS TO</strong> <a href="https://www.arnewastyn.com" target="_blank">Arne Wastyn</a> &amp; the Keys Family <br>
<strong>PRODUCTION</strong> <a href="https://www.campo.nu/en" target="_blank">CAMPO</a>  / <strong>COPRODUCTION</strong> <a href="https://www.beursschouwburg.be/en/" target="_blank">Beursschouwburg Brussels (BE)</a>, <a href="https://www.pact-zollverein.de/en" target="_blank">PACT Zollverein Essen (DE)</a> &amp; <a href="https://auawirleben.ch/en" target="_blank">Auawirleben Bern (CH)</a>
</p>
    
<p>P.S.<br>
This video capture is part of a temporary online library of video registrations of Belgian theatre show and performances: <a href="https://www.podiumaanhuis.be/video/dont-we-deserve-grand-human-projects-that-give-us-meaning" target="_blank">Podium aan Huis</a>. <br>Check it out the content is amazing! </p>

    
    
    <br><br>
    
    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/217829716" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>Video capture of the performance 'Don't we deserve grand human projects that give us meaning' 2017</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo grand-human-projects1"></div>
                    <div class="photo grand-human-projects2"></div>
                    <div class="photo grand-human-projects3"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo grand-human-projects4"></div>
                    <div class="photo grand-human-projects5"></div>
                    <div class="photo grand-human-projects6"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>