<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/356623134" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (50 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Clay tablet: Self-portrait with ritual fire</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2019</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>17 cm x 22.8 cm x 1.5 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>white clay, engobes, ceramic glazes</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>Custom R&amp;F F&amp;R Wall Mount <a href="{{site.url}}/portfolio/claytablet-totem#wallmount">more info</a></td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6/6</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Sold out</td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                        <div class="share-buttons">

                        <!-- Email -->
                        <a href="mailto:?subject=Robbert%26Frank%20Frank%26Robbert&body=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire:%20'Clay%20Tablet%3A%20Self-portrait%20with%20ritual%20fire'%20is%20a%20limited%20edition%20sculpture%20depicting%20the%20artists%20with%20a%20ritual%20fire.%20Check%20out%20the%20one%20minute%20video%20in%20which%20the%20artists%20present%20the%20work%20in%20their%20studio." target="_blank" title="Send email">
                            <img src="http://www.frankenrobbert.com/assets/img/social/email.png" alt="Email" />

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire&quote=Robbert%26Frank%20Frank%26Robbert" title="Share on Facebook" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/facebook.png" alt="Facebook" />
                        </a>

                        <!-- Pinterest -->
                        <a href="http://pinterest.com/pin/create/link/?url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/pinterest.png" alt="Pinterest" />
                        </a>

                        <!-- Tumblr-->
                        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire&title=Clay%20Tablet%3A%20Self-portrait%20with%20ritual%20fire&caption=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&tags=robbert&frank, frank&robbert, sculpture, visual art, ceramics, art" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/tumblr.png" alt="Tumblr" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire&text=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert:%20http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire&via=R_en_F" target="_blank" title="Tweet">
                            <img src="http://www.frankenrobbert.com/assets/img/social/twitter.png" alt="Twitter" />
                        </a>

                        <!-- LinkedIn-->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.frankenrobbert.com%2Fportfolio%2Fclaytablet-fire&title=Clay%20Tablet%3A%20Self-portrait%20with%20ritual%20fire&summary=Great%20work%20by%20Robbert%26Frank%20Frank%26Robbert&source=Robbert%26Frank%20Frank%26Robbert" target="_blank">
                            <img src="http://www.frankenrobbert.com/assets/img/social/linkedin.png" alt="Linked In" />
                            </a>
                    </div>
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>For the ‘Friends of the S.M.A.K’* the artists have developed their very first limited series of clay tablets. Each clay tablet is unique due to its handmade production method and is characterised by a varied colour palette. Here we see an abstracted self-portrait of R&amp;F F&amp;R as they perform a fire ritual together. This line drawing is based on an existing performance in which the artists invite the participating audience to engage in a collective burning ritual: participants write down or draw their worries or fears before casting them into the flames.</p>

<p>For quite some time now Frank&amp;Robbert Robbert&amp;Frank have been developing new work in which they document their own life and work in simple, symbolic line drawings. In this work they take inspiration from the cave paintings of Lascaux, Egyptian hieroglyphs and Mesopotamian proto-writing.
The artists’ drawings are a means of more closely examining the universe, the world in which they live, their artistic practice and themselves. This research is both digital and analogue in its approach, with drawings on computer and on paper. In a later phase these drawings are transformed into physical, stylised line representations, which are then pressed into clay. 
</p>

<p>Contemporary laser technology and ancient ceramic firing methods are combined in realising these clay tablets. Fire plays a central role in the making of each piece. First the digital drawing is burned into a sheet of wood using laser-cutting technology. This sheet is then used to stamp the wet clay. The resulting clay imprint is meticulously coloured by hand using pigments and glazes before being slowly fired several times. This semi-controlled creation process is never perfect; six unique tablets have been produced.</p>
    
<p>* The ’Friends of the S.M.A.K.’ (Vrienden van het S.M.A.K.) is a group of enthusiastic art lovers and collectors who strive for the expansion and support of the Urban Museum for Contemporary Art (S.M.A.K.) in Ghent, Belgium. <a href="https://smak.be/nl/vrienden-v-h-smak/edities" target=_blank>More info</a></p>


    
    <br><br>
    
    <div class="resp-container-16-9">
        <iframe class="resp-iframe" src="https://player.vimeo.com/video/356664880" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
    <small>Short interview with F&amp;R R&amp;F about the artwork. (Dutch language)</small>
    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_claytablet-fire_1"></div>
                    <div class="photo portfolio_claytablet-fire_2"></div>
                    <div class="photo portfolio_claytablet-fire_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>