<main>
<span class="expander" id="googlesearch">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_googleburning_1"></div>
                    <div class="photo portfolio_googleburning_2"></div>
                    <div class="photo portfolio_googleburning_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Google Search / Google Burning</strong><br>
<div class="tags">
    <a href="#pong" id="">#installation</a> 
    <a href="#mayanhieroglyfe" id="">#painting</a> 
    <a href="#ajourneyintospace" id="">#video</a> 
    <a href="#drvalcke" id="">#wood</a> 
    <a href="#pigeonpricewinners" id="">#internet</a> 
</div>    
A wooden lookout, like the ones that can be found near borders, camps or in forests, are now build and placed in a museum context. A huge plastic funnel is blocking a clear sight... but in stead of the possibility of overlooking the area, Robbert&amp;Frank have placed a hand painted version of the Google homepage in their funnel. Google, opening the window of the world and presenting endless (search) possibilities, -but- fixed and transformed in a stare analogue image: a never changing painting, impossible to activate. (In another version of this work, R&amp;F F&amp;R have put an endless videoloop of a burning Google homepage.)
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>