<main>
<span class="expander" id="alterego">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_alterego_1"></div>
                    <div class="photo portfolio_alterego_2"></div>
                    <div class="photo portfolio_alterego_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Alter Ego</strong><br>
<div class="tags">
    <a href="#sorrow" id="">#performance</a> 
    <a href="#whey" id="">#sculpture</a> 
    <a href="#ackack" id="">#blood</a> 
    <a href="#reindeeroxhead" id="">#mask</a> 
    <a href="#ajourneyintospace" id="">#science</a> 
</div>    
For the 2010 Flemish Heritage Day, R&F build an in-situ installation in the old and abandoned city hospital of the Bijloke in Ghent (BE). The installation symbolized a 19th century medicinal operation unit where human bodies were being dissected to study the anatomy. However, instead of studying the anatomy, F&R R&F (with help of a professional nurse and doctor) tried to build their own ‚Frankenstein’-like ‚perfect human’ alter ego (mixing their own blood with the flesh of a real bull and the intestines of a deer). In this 8h-lasting performance, they unified ‚Reindeerhead’ & ‚Oxhead’, and made sure this ‚creature’ was ready for natural mummification.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
    
</main>