<main>
<span class="expander" id="reindeeroxhead">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_reindeer_oxhead_1"></div>
                    <div class="photo portfolio_reindeer_oxhead_2"></div>
                    <div class="photo portfolio_reindeer_oxhead_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Reindeer &amp; Oxhead</strong><br>
<div class="tags">
    <a href="#alterego" id="">#sculpture</a> 
    <a href="#alterego" id="">#performance</a> 
    <a href="#suitcasevariations" id="">#drawing</a> 
    <a href="#sorrow" id="">#wood</a> 
    <a href="#grandhumanprojects" id="">#suitcase</a> 
    <a href="#ajourneyintospace" id="">#mask</a> 
</div>    
Reindeerhead and Oxhead are (since 2008) the loyal alter egos of Robbert and Frank. It started as a simple idea for a performance during the museum-night in the City Museum for Contemporary Art (S.M.A.K., Ghent, BE). Dressed like ‚James Bond’ish action heroes F&amp;R R&amp;F put on a reindeer and an ox mask and were hunting the hunter (a human wolf with a shopping cart). Since this performance the alter egos are being used in various ways (to do or say things the artists themselves cannot do)... or... the alter egos are being worshipped in a portable shrine. Reindeer- and Oxhead are the alternative protagonists of the weird / great Frank&amp;Robbert Robbert&amp;Frank universe - wherein all artworks, concepts, performances and installations are connected.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>