<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Claytablet - Helping Hand" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>
   
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/556136210" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (46 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Clay Tablet - Helping Hand</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2020</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>17 cm x 22.8 cm x 1.5 cm</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>white clay, engobes, ceramic glazes</td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>Custom R&amp;F F&amp;R Wall Mount <a href="{{site.url}}/portfolio/claytablet-totem#wallmount">more info</a></td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>6/6</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, contact our gallery <a href="mailto:info@frankenrobbert.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
        
    
    
<p>
This clay tablet is part of an ongoing series of ceramic tiles through which Frank&amp;Robbert Robbert&amp;Frank document their own lives and work.
</p>
    
<p>
This edition is a bit special. Rather than a literal representation of a physical action, this tablet is an attempt to translate how the artists are helping each other (and possibly) others to achieve something greater. The hand in the sky is like a god from above, a deus ex machina. The god is reaching out. But we need each other in order to reciprocate the handshake.
</p>
    
<p>
Inspired by the cave paintings of Lascaux, Egyptian hieroglyphics and Mesopotamian proto-cuneiform script, F&amp;R R&amp;F create simple, symbolic line drawings that could be read as self-portraits. At the same time, they try to address universal feelings and desires that anyone might find relatable.
</p>
    
<p>
Together we are strong. And only in one another we can find true meaning. </p>

    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_claytablet-helpinghand_1"></div>
                    <div class="photo portfolio_claytablet-helpinghand_2"></div>
                    <div class="photo portfolio_claytablet-helpinghand_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}

</main>