<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->
{% assign title = "Ink Sketches &amp; Drawings" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>

    <div class="row-artwork">
        <div class="flex-container">
            <div class="flex-item">
                <div class="flex-item-left">

                    <iframe class="iframe-artwork" src="https://player.vimeo.com/video/843828283?h=7985046dd6" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    <small style="padding-left: 5px"><br>Artwork of the month - video (58 sec) <br> with special guest <strong>Guus van der Velden*</strong>.</small>
                </div>
            </div>

            <div class="flex-item">
                <div class="flex-item-item">

                    <h2>Ink Sketches &amp; drawings 2023</h2>

                    <small>
                        <table class="table">
                            <tr>
                                <th><em>Year</em></th>
                                <td>2023</td>
                            </tr>
                            <tr>
                                <th><em>Size</em></th>
                                <td>A5 (14,8 cm x 21 cm)</td>
                            </tr>
                            <tr>
                                <th><em>Materials</em></th>
                                <td>
                                    ink, watercolors, paper
                                </td>
                            </tr>
                            <tr>
                                <th><em>Options</em></th>
                                <td>/</td>
                            </tr>
                            <tr>
                                <th><em>Edition</em></th>
                                <td>1/1</td>
                            </tr>
                            <tr>
                                <th><em>For Sale</em></th>
                                <td>Yes, contact our gallery <a href="mailto:info@robbertenfrank.com,info@fredferry.com?subject=Contact%20via%20Robbert%20Frank%20website">Fred&amp;Ferry (Antwerp, BE)</a></td>
                            </tr>
                            <tr>
                                <th><em>Share</em></th>
                                <td>

                                    {% include social-share.html %}

                                </td>
                            </tr>

                        </table>
                    </small>

                </div>
            </div>
        </div>
    </div>

    <p>Deze selectie van kleine inkt tekeningen en schetsen zijn ontstaan tijdens de solo tentoonstelling ‘Artwork of the month’ in de gallerij Fred&Ferry, Antwerpen.</p>

    <p>Tijdens deze solotentoonstelling hebben de R&F F&R één van de gallerieruimtes ingepalmt als tekenstudio. Enkele dagen per week werkten de kunstenaars in de gallerie (o.a. tijdens de openingsuren) aan nieuwe werk. Deze zelfverklaarde residentie was voor de kunstenaars een aanleiding om met een frisse blik, oud werk te lijf te gaan. Oude zeefdrukken of testprints uit het atelier werden gebruikt als basis voor een nieuwe tekenkundige dialoog. </p>

    <p>Ondanks het feit dat Robbert&Frank al vele jaren samenwerken aan de meest uiteenlopende projecten, komt het zelden of nooit voor dat de kunstenaars samen tekenen. Deze meest basale vorm van kunst bedrijven ligt weliswaar aan de basis van vele projecten maar vormde nooit voorheen een eindpunt of doel op zich.</p>

    <p>Een ander aspect van deze residentie waren de bezoekers die F&R R&F doelgericht uitnodigde. Het is Guus van der Velden — kunstenaar, curator en een van de genodigden — die opteerde om deze kleine schetsen te verheffen tot onderwerp van een artwork-of-the-month-filmpje. Sommige schetsen zijn letterlijk enkele notities die genomen werden tijdens de gesprekken die de kunstenaars hadden met de genodigden, andere schetsen zijn kleine intieme momenten van rust tussen de grootschalige tekenkundige gestes die primeerden tijdens de residentie.</p>

    <p>Samen vormen deze kleine schetsen en tekeningen een documentatie van een bijzonder moment in het oeuvre van de kunstenaars, want ze markeren de start van een nieuwe conversatie. Een nieuwe ontluikende vorm van spelplezier tussen oude bekenden.</p>
    
    <p>* Chemist, artist and gallery owner Guus van der Velden hosted our show 'Narratives' at his gallery <a href="https://lxhxb.com" target="_blank">lxhxb</a>. He is interested at what happens behind the scenes in the world. </p>

    
    <br><br><br>

    <span class="expander" id="blueprintboardgame">

        <div class="expander-content">

            <div class="expander-content-main">

                <div class="container-photos">

                    <div class="row-photos">
                        <div class="photo portfolio_ink-sketches-2023_1"></div>
                        <div class="photo portfolio_ink-sketches-2023_2"></div>
                        <div class="photo portfolio_ink-sketches-2023_3"></div>
                    </div>
                    <div class="row-photos">
                        <div class="photo portfolio_ink-sketches-2023_4"></div>
                        <div class="photo portfolio_ink-sketches-2023_5"></div>
                        <div class="photo portfolio_ink-sketches-2023_6"></div>
                    </div>

                </div>

            </div>

        </div>

    </span>

    <p style="text-align: center">- - - - - - - - - -</p>

    {% include pages/artworks-organized.html %}

</main>