<main>
<span class="expander" id="mayanhieroglyfe">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_mayanhieroglyfe_1"></div>
                    <div class="photo portfolio_mayanhieroglyfe_2"></div>
                    <div class="photo portfolio_mayanhieroglyfe_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>Mayan Hiëroglyfe</strong><br>
<div class="tags">
    <a href="#pigeonpricewinners" id="">#print</a> 
    <a href="#googlesearch" id="">#painting</a> 
    <a href="#sorrow" id="">#serial</a> 
    <a href="#googlesearch" id="">#internet</a> 
    <a href="#suitcasevariations" id="">#alot</a> 
</div>    
This project started in 2010: the printer in their former artist studio was unable to print huge web files or online pictures. Even a random (90-pages long) conversation commenting a Youtube video made the printer ‚crash’. The printer simply printed the date, the url and some (semi-)empty frames. R&F kept all the ‚failed’ A4’s and year after year they experimented with various printers and the limits of printing / scanning. Layer on layer, page on top of another page, Frank and Robbert build and manipulate analogue digital ‚scraps’ -; trying to create a painting-like artwork with metadata from the world wide web.
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>