<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->
{% assign title = "Cutouts Series" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>

    <div class="row-artwork">
        <div class="flex-container">
            <div class="flex-item">
                <div class="flex-item-left">

                    <iframe class="iframe-artwork" src="https://player.vimeo.com/video/940804520?" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    <small style="padding-left: 5px"><br>Artwork of the month - video (59 sec).</small>
                </div>
            </div>

            <div class="flex-item">
                <div class="flex-item-item">

                    <h2>Splott Beach</h2>

                    <small>
                        <table class="table">
                            <tr>
                                <th><em>Year</em></th>
                                <td>2024</td>
                            </tr>
                            <tr>
                                <th><em>Size</em></th>
                                <td>46 cm × 55 cm × 13 cm</td>
                            </tr>
                            <tr>
                                <th><em>Materials</em></th>
                                <td>unfired red clay
                                </td>
                            </tr>
                            <tr>
                                <th><em>Location</em></th>
                                <td><a href="https://www.google.com/maps/place/51°28'21.5%22N+3°08'07.6%22W">51°28'21.5"N<br>3°08'07.6"W</a></td>
                            </tr>
                            <tr>
                                <th><em>Edition</em></th>
                                <td>1/1</td>
                            </tr>
                            <tr>
                                <th><em>For Sale</em></th>
                                <td>No</td>
                            </tr>
                            <tr>
                                <th><em>Share</em></th>
                                <td>

                                    {% include social-share.html %}

                                </td>
                            </tr>

                        </table>
                    </small>

                </div>
            </div>
        </div>
    </div>

<p>Frank&amp;Robbert Robbert&amp;Frank remade their alter egos in clay. And they decided to leave them unfired. This means that when water comes into contact with the sculptures, the clay figures will start to dissolve, returning to their natural, amorphous state. </p>

<p>This is a symbolic representation of life itself: we are all made of atoms. Atoms that have been part of countless organic and inorganic structures before they came to form the temporary shape of our bodies. And these atoms will be recycled after we die. </p>

<p>For the transformation of this work, R&amp;F F&amp;R chose a spot at Splott Beach in Cardiff, Wales. The beach itself is important, as it isn’t a natural beach.</p> 

<p><em>When the tide is out here is the world’s only coal and brick beach, a black and orange travesty sprinkled with concrete rubble, twisted wires, fused iron slag and industrial debris, all being gradually worn into grotesque craggy shapes by the action of the sea.</em><br/>
— Dic Mortimer, ‘All Wales Coast Path’</p>

<p>Before the site became a ‘beach’, it housed a vibrant community of workers of the East Moors steelworks factory. When the plant was shut down, the houses got demolished and the rubble was dumped on the wasteland near the sea. </p>

<p>Near the seaside there is a big sewer pipe evacuating excess water and forming a huge mud delta river that flows into the Bristol Channel. Polluted, iridescent water, clay deposits, rubble and bricks create a mesmerising landscape on the outskirts of the city. At this location, Frank and Robbert left their clay alter egos beside a clay fire to erode and become part of the landscape once again. As they were installing their sculptures it started to rain, thus speeding up the transformation process from figures to clay again.</p> 

<p>The work itself alludes to the notion that everything is temporary and that all matter seems to bear echoes of earlier incarnations. Matter seems to have a memory. And by moving in this world, and living in it, we try to (re-)connect with things that have been and things yet to come. </p>

<p>Frank&amp;Robbert visited Cardiff as part of their ‘Reconnect with the UK’ tour, supported by Kunstenpunt and the British Arts Council. Rhiannon White of <a href="https://commonwealththeatre.co.uk" target="_blank">Common Wealth Theatre</a> was so generous as to receive us in Cardiff and share her personal insights about the region. We shared iftar together with her and the local Muslim community at the wonderful Grange Pavilion and she introduced us to the local people, history and places.

</p>

    
    <br><br><br>

    <span class="expander" id="blueprintboardgame">

        <div class="expander-content">

            <div class="expander-content-main">

                <div class="container-photos">

                    <div class="row-photos">
                        <div class="photo portfolio_splott-beach_2"></div>
                        <div class="photo portfolio_splott-beach_1"></div>
                        <div class="photo portfolio_splott-beach_3"></div>
                    </div>
                </div>

            </div>

        </div>

    </span>

    <p style="text-align: center">- - - - - - - - - -</p>

    {% include pages/artworks-organized.html %}

</main>