<!-- Titel aanpassen naar titel van artwork -->
<!-- Deze liquid tag word gebruikt in het stukje html van social share -->

{% assign title = "Go Away Sorrow Of The World - Socks" | url_param_escape %}
{% assign share_url = site.url | append: page.url | url_encode %}

<main>  
    
<div class="row-artwork">
    <div class="flex-container">
        <div class="flex-item">
            <div class="flex-item-left">
                    
                        <iframe class="iframe-artwork" src="https://player.vimeo.com/video/769022890?h=79c8178420" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <small style="padding-left: 5px"><br>Artwork of the month - video (57 sec)</small>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-item">

            <h2>Go Away Sorrow Of The World - Socks</h2>

            <small><table class="table">
                  <tr>
                    <th><em>Year</em></th>
                    <td>2022</td>
                  </tr>
                  <tr>
                    <th><em>Size</em></th>
                    <td>'Small - Medium' or 'Large - Extra Large'</td>
                  </tr>
                         <tr>
                    <th><em>Materials</em></th>
                    <td>cotton, polyester
                    </td>
                  </tr>
                         <tr>
                    <th><em>Options</em></th>
                    <td>buy one pair for €14,99<br>
                             buy two pairs (one of each color) for only €24,99</td>
                  </tr>
                         <tr>
                    <th><em>Edition</em></th>
                    <td>150 yellow pairs / 150 red pairs</td>
                  </tr>
                        <tr>
                    <th><em>For Sale</em></th>
                    <td>Yes, order here: <a href="https://www.pumapress.be/product-page/go-away-sorrow-of-the-world-socks">Puma Press Shop</a></td>
                  </tr>
                    <tr>
                            <th><em>Share</em></th>
                            <td>

                             {% include social-share.html %}
                                
                    </td>
                    </tr>

             </table></small>

            </div>
        </div>
    </div>
</div>       
    
<p>The holiday season is coming and, as per tradition, Frank&amp;Robbert Robbert&amp;Frank are keen to share a sprinkling of artsy vibes to brighten up these rather dark times. </p>

<p>To mark the occasion, they have transformed something negative into something positive. Last month, their giant (11-metre tall) metal artwork GO AWAY SORRY OF THE WORLD was stolen from a construction site in Ghent – probably to be sold as scrap metal, since metal prices are currently soaring. So, the duo decided to transform the metal installation’s mantra into a statement that everyone can wear wherever they go, helping us to banish the sorrows of the world.</p>
 
<p>Frank&amp;Robbert Robbert&amp;Frank developed the mantra ‘GO AWAY SORROW OF THE WORLD’ back in 2008. This mantra works as a shadow whose concept always remains the same but whose physical carrier changes from time to time. The mantra has previously been incorporated in a ritual, built into a foldable wooden suitcase, transformed into a sticker and made into a pin, among other things. Transformation is part of the artwork’s concept.</p>

<p>And now it’s available to make your loved ones happy. For 14.99 EUR you can get one pair of socks. For 24.99 EUR you get a double pack. All in the cheerful R&amp;F F&amp;R colours! We wish you a fun-filled holiday season and hope you will enjoy this wearable artwork! xxx
 </p>


    
    <br><br><br>
  
<span class="expander" id="blueprintboardgame">
    
    <div class="expander-content">
    
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_sorrow-socks_1"></div>
                    <div class="photo portfolio_sorrow-socks_2"></div>
                    <div class="photo portfolio_sorrow-socks_3"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</span> 
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}

</main>