<main>
<span class="expander" id="tobreak">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_tobreak_1"></div>
                    <div class="photo portfolio_tobreak_2"></div>
                    <div class="photo portfolio_tobreak_3"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>To Break - The window of opportunity</strong><br>
<div class="tags">
    <a href="#ajourneyintospace" id="">#theater</a> 
    <a href="#ajourneyintospace" id="">#collaboration</a> 
    <a href="#sorrow" id="">#wood</a> 
    <a href="#guns" id="">#blood</a> 
    <a href="#suitcasevariations" id="">#suitcae</a> 
    <a href="#guns" id="">#america</a> 
</div>    
TO BREAK is an homage to free association, a theatre play which carefully constructs, layer by layer, joyful images, political connotations, inter-textual references, and links to popular media. It begins with a 10-meter long painting of an empty dessert. As two, silent janitors, R&F F&R go about constructing contemporary art-like installations on stage: they hang a chair, build a bleeding, snowy mountain, drive through Twin Peaks, kill each other with chocolate, make a Pocahontas-like speaking tree, etc.
<br><br>
--> Check <a href="http://www.campo.nu/nl/artist/721/robbertfrank-frankrobbert" target="_blank">campo.nu</a> for more info!
<br><br>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks.html %}
    
</main>