<main>
<span class="expander" id="sorrow">
    
      <div class="expander-content">
          
        <div class="expander-content-main">
            
            <div class="container-photos">
                
                <div class="row-photos">
                    <div class="photo portfolio_GOAWAYSORROWOFTHEWORLD_1"></div>
                    <div class="photo portfolio_GOAWAYSORROWOFTHEWORLD_3"></div>
                    <div class="photo portfolio_GOAWAYSORROWOFTHEWORLD_4"></div>
                </div>
                
                <div class="row-photos">
                    <div class="photo portfolio_GOAWAYSORROWOFTHEWORLD_7"></div>
                    <div class="photo portfolio_GOAWAYSORROWOFTHEWORLD_6"></div>
                    <div class="photo portfolio_GOAWAYSORROWOFTHEWORLD_5"></div>
                </div>
                
            </div>
            
        </div>
          
      </div>
    
</span>

<strong>GO AWAY SORROW OF THE WORLD</strong><br>
<div class="tags">
    <a href="#samplersongs" id="performance">#performance</a> 
    <a href="#pigeonpricewinners" id="sculpture">#sculpture</a> 
    <a href="#faces" id="video">#video</a> 
    <a href="#reindeeroxhead" id="suitcase">#suitcase</a> 
    <a href="#bloodstains" id="merchandise">#merchandise</a> 
    <a href="#guns" id="serial">#serial</a> 
    <a href="#trophies" id="wood">#wood</a> 
    <a href="#pigeonpricewinners" id="peace">#peace</a> 
    <a href="#guns" id="politics">#politics</a>
</div>    
Started in 2009 as 'a machine to improve the world’, this work was later transformed into a light sculpture and presented among other ‘brands’ and ‘advertisements’. The installation has been in an everlasting physical transformation: from stickers to an un-foldable suitcase set in activation by a performance. R&F F&R have been using this simple sentence as a mantra. They truly believe that by reading this this mantra, some good will be sent in the universe; vibrate there, and chase the evil away. 
<br><br>
--> Check the R&amp;F F&amp;R <a href="http://www.robbertenfrank.com/sorrow-blog" target="_blank">photoblog</a> for more info on this project!<br/><br/>
    
    <p style="text-align: center">- - - - - - - - - -</p>
    
    
    {% include pages/artworks-organized.html %}
    
</main>