<div class="expander-content">

    <div class="expander-content-main">

        <div class="container-photos">

            <div class="row-photos">
                <div href="" class="photo tobreak1"></div>
                <div href="" class="photo tobreak2"></div>
                <div href="" class="photo tobreak3"></div>
            </div>

            <div class="row-photos">
                <div href="" class="photo tobreak4"></div>
                <div href="" class="photo tobreak5"></div>
                <div href="" class="photo tobreak6"></div>
            </div>

        </div>

        <div class="expander-text">
            <p><strong>TO BREAK - the window of opportunity</strong> — Robust, honest materials lay scattered along a desolate plain. Wood, metal and some plastic here and there. Besides that: emptiness. In what wilderness have we found ourselves? Are we in Saudi-Arabia? Arizona? Is it an abandoned beach? Little by little, the landscape is filled with colour and the elements come to life ingeniously. From then on, we leave on a road trip across time and its Window of Opportunity.</p>

            <p><em>"A colourful ode to friendship"</em> — &#9733; &#9733; &#9733; &#9733; &#9734; Knack, Els Van Steenberghe</p>

            <p>Information, booking and details: <a href="http://www.campo.nu/en/production/1439/to-break-the-window-of-opportunity" target="_blank">campo.nu</a></p>
        </div>

    </div>

</div>